In [152]:
import email
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.colors as colors
import numpy as np
import pandas as pd
import seaborn as sns

from collections import Counter
from datetime import datetime, timedelta
from dateutil.parser import parse
from pathlib import Path

from gensim.models.doc2vec import Doc2Vec

plt.rcParams['figure.dpi'] = 100
plt.rcParams["figure.autolayout"] = True

In [153]:
data_dir = Path(Path.cwd().parent, 'data/interim')
models_dir = Path(Path.cwd().parent, 'models')
evals_dir = Path(data_dir, 'evals_6') # evals_4
labels_dir = Path(data_dir, 'labels_4') # Path(data_dir, 'labels_2')
models_dir = Path(Path.cwd().parent, 'models')
datasets_order = {
    'chains_eq_2': 0,
    'chains_eq_3': 1,
    'chains_ge_4_lt_10': 2,
    'chains_ge_10': 3}

datasets_names = {
    'chains_eq_2': r'CL $= 2$',
    'chains_eq_3': r'CL $= 3$',
    'chains_ge_4_lt_10': r'10 $>$ CL $\geq$ 4',
    'chains_ge_10': r'CL $\geq$ 10'}

sizes = {}
for path in Path(models_dir).glob('d2v*.model'):
    size = len(Doc2Vec.load(str(path)).dv.vectors)
    name = '_'.join(path.stem.split('_')[1:])
    sizes[name] = size

In [154]:
df_kmeans = pd.concat([pd.read_csv(path) for path in evals_dir.glob('eval_km*.csv')], ignore_index=True)
df_kmeans['dimensions'] = df_kmeans['dataset'].apply(lambda s: s.split('_')[-1])
df_kmeans['dataset'] = df_kmeans['dataset'].apply(lambda s: '_'.join(s.split('_')[:-1]))
df_kmeans['order'] = df_kmeans['dataset'].map(datasets_order)
df_kmeans['name'] = df_kmeans['dataset'].map(datasets_names)
df_kmeans = df_kmeans.sort_values('order')
df_kmeans['k_noise'] = df_kmeans['n_clusters'].astype(int)
df_kmeans['method'] = 'KMeans'

df_dbscan = pd.concat([pd.read_csv(path) for path in evals_dir.glob('eval_dbscan*.csv')], ignore_index=True)
df_dbscan['size'] = df_dbscan['dataset'].map(sizes)
df_dbscan['prop_noise'] = df_dbscan['n_noise']/df_dbscan['size']
df_dbscan['dimensions'] = df_dbscan['dataset'].apply(lambda s: s.split('_')[-1])
df_dbscan['dataset'] = df_dbscan['dataset'].apply(lambda s: '_'.join(s.split('_')[:-1]))
df_dbscan['order'] = df_dbscan['dataset'].map(datasets_order)
df_dbscan['name'] = df_dbscan['dataset'].map(datasets_names)
df_dbscan = df_dbscan.sort_values('order')
df_dbscan['k_noise'] = df_dbscan.apply(lambda x: f"{x['n_clusters']} ({x['prop_noise']:.3f})", axis=1)
df_dbscan['method'] = 'DBSCAN'
df_dbscan = df_dbscan.loc[df_dbscan['epsilon'] != 0.2,:]

df_hdbscan = pd.concat([pd.read_csv(path) for path in evals_dir.glob('*_hdbscan*.csv')], ignore_index=True)
df_hdbscan['size'] = df_hdbscan['dataset'].map(sizes)
df_hdbscan['prop_noise'] = df_hdbscan['n_noise']/df_hdbscan['size']
df_hdbscan['dimensions'] = df_hdbscan['dataset'].apply(lambda s: s.split('_')[-1])
df_hdbscan['dataset'] = df_hdbscan['dataset'].apply(lambda s: '_'.join(s.split('_')[:-1]))
df_hdbscan['order'] = df_hdbscan['dataset'].map(datasets_order)
df_hdbscan['name'] = df_hdbscan['dataset'].map(datasets_names)
df_hdbscan = df_hdbscan.sort_values('order')
df_hdbscan['k_noise'] = df_hdbscan.apply(lambda x: f"{x['n_clusters']} ({x['prop_noise']:.3f})", axis=1)
df_hdbscan['method'] = 'HDBSCAN'
datasets = df_dbscan.sort_values(by='order')['dataset'].unique()

eval_scores = ['sl_score', 'ch_score', 'db_score', 'entropy']

# Tables of best scores

In [155]:
# def labels_km(df):
#     return f'labels_km_{df.loc[0,"dataset"]}_{df.loc[0,"dimensions"]}_{df.loc[0,"n_clusters"]:02d}_{df.loc[0,"distance"]}.pkl'

# def labels_db(df):
#     return f'labels_dbscan_{df.loc[0,"dataset"]}_{df.loc[0,"dimensions"]}_{df.loc[0,"epsilon"].astype(str)[:7]}*_{df.loc[0,"min_pts"].astype(int):02d}_{df.loc[0,"distance"]}.pkl'

# def labels_hd(df):
#     return f'labels_hdbscan_{df.loc[0,"dataset"]}_{df.loc[0,"dimensions"]}_{df.loc[0,"min_clt_size"].astype(int):02d}_{df.loc[0,"min_samples"].astype(int):02d}_{df.loc[0,"distance"]}.pkl'

def eps_check(eps):
    val = str(eps)
    if len(val) > 8:
        val = val[:7] + '*'
    return val


def labels_km(df, dataset):
    return f'labels_km_{dataset}_{df["dimensions"]}_{df["n_clusters"]:02d}_{df["distance"]}.pkl'


def labels_db(df, dataset):
    return f'labels_dbscan_{dataset}_{df["dimensions"]}_{eps_check(df["epsilon"])}_{int(df["min_pts"]):02d}_{df["distance"]}.pkl'


def labels_hd(df, dataset):
    return f'labels_hdbscan_{dataset}_{df["dimensions"]}_{int(df["min_clt_size"]):02d}_{int(df["min_samples"]):02d}_{df["distance"]}.pkl'

In [156]:
best_labs_all = {}
ord_cols = ['method', 'distance', 'dimensions', 'n_clusters', 'k_noise', 'sl_score', 'ch_score',
            'db_score', 'entropy', 'epsilon', 'min_pts', 'nn', 'min_clt_size', 'min_samples']
ord_name = {
    'method':'Method',
    'distance':'Distance',
    'dimensions':'Dim',
    'n_clusters': r'$k$',
    'k_noise': r'$k$ (% Noise)',
    'sl_score':'SL',
    'ch_score':'CH',
    'db_score':'DB',
    'entropy':'Entropy',
    'epsilon': 'Eps',
    'min_pts': 'MinPts',
    'nn': 'NN',
    'min_clt_size': 'Min Clt Size',
    'min_samples': 'Min Samples',
    'focus': 'Score'
}
dis_name = {'euclidean':'Euclidean', 'cosine': 'Cosine', 'wmd':'WMD', 'l2':'L2 Norm'}
iterator_datasets = iter(datasets)
iterator_scores = iter(eval_scores)

In [158]:
def prepare_best_table(tab_best, dis_name, ord_name):
    tab_best['distance'] = tab_best['distance'].map(dis_name)
    tab_best[['min_pts', 'min_clt_size', 'min_samples']] = tab_best[['min_pts', 'min_clt_size', 'min_samples']].fillna(-1).astype(int).astype(str).replace('-1','-')
    tab_best.columns = tab_best.columns.map(ord_name)
    return tab_best.drop(columns=[r'$k$ (% Noise)']).set_index(['Score', 'Method'])

In [159]:
dat = next(iterator_datasets)
tab_best = pd.DataFrame()
print(dat)
for score in eval_scores:
    if score in ['db_score', 'entropy']:
        asc = True
    else:
        asc= False
    tmp1 = pd.concat([
        df_kmeans.loc[df_kmeans['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_dbscan.loc[df_dbscan['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_hdbscan.loc[df_hdbscan['dataset']==dat,:].sort_values(score,ascending=asc).head(1)
    ])
    tmp1['focus'] = score
    tmp1['focus'] = tmp1['focus'].map(ord_name)
    # tmp1['distance'] = tmp1['distance'].map(dis_name)
    tmp1 = tmp1.sort_values(score, ascending=asc)
    tab_best = pd.concat([tab_best, tmp1.loc[:,ord_cols+['focus']].dropna(how='all',axis=1)])

best_labels_ = {}
for score in eval_scores:
    for idx, row in tab_best.iterrows():
        if row['method'] == 'KMeans':
            label = labels_km(row, dat)
        elif row['method'] == 'DBSCAN':
            label = labels_db(row, dat)
        elif row['method'] == 'HDBSCAN':
            label = labels_hd(row, dat)
        # print(row['focus'])
        # print(label)
        if row['focus'] in best_labels_:
            best_labels_[row['focus']].append(label)
        else:
            best_labels_[row['focus']] = [label]

best_labels_ = {k:list(set(v)) for k, v in best_labels_.items()}
best_labels = {}
for k, v in best_labels_.items():
    for i in range(len(v)):
        if k not in best_labels:
            best_labels[k] = {i: v[i]}
        else:
            best_labels[k].update({i: v[i]})
# best_labels
best_labs_all[dat] = best_labels
# best_labs_all
# tab_best['distance'] = tab_best['distance'].map(dis_name)
# tab_best[['MinPts', 'Min Clt Size', 'Min Samples']] = tab_best[['MinPts', 'Min Clt Size', 'Min Samples']].fillna(-1).astype(int).astype(str).replace('-1','')
# tab_best.columns = tab_best.columns.map(ord_name)
# tab_best.drop(columns=[r'$k$ (% Noise)']).set_index(['Score', 'Method'])
tab = prepare_best_table(tab_best, dis_name, ord_name)
tab

chains_eq_2

                  Distance  Dim  $k$        SL           CH        DB  \
Score   Method
SL      DBSCAN   Euclidean  300    2  0.971257  3354.887297  0.290183
        HDBSCAN  Euclidean   50    2  0.886469   808.641864  0.616822
        KMeans   Euclidean  300    2  0.134493   796.314484  5.126896
CH      DBSCAN   Euclidean  300    2  0.971257  3354.887297  0.290183
        KMeans   Euclidean   50    2  0.123197   966.626770  4.727751
        HDBSCAN  Euclidean   50    2  0.879582   826.450913  0.625766
DB      DBSCAN   Euclidean  300    2  0.968049  2435.317202  0.261363
        HDBSCAN  Euclidean   50    2  0.886469   808.641864  0.616822
        KMeans   Euclidean  300   20 -0.003933   104.039509  2.850879
Entropy DBSCAN         WMD   50    2  0.582316    12.698288  1.067944
        HDBSCAN  Euclidean  300    2  0.796765    19.540739  0.662969
        KMeans   Euclidean   50    2  0.123197   966.626770  4.727751

                  Entropy   Eps MinPts Min Clt Size Min Samples
Score   Method
SL      DBSCAN   0.080688  0.82      5            -           -
        HDBSCAN  0.202499   NaN      -            5          34
        KMeans   0.683153   NaN      -            -           -
CH      DBSCAN   0.080688  0.82      5            -           -
        KMeans   0.672388   NaN      -            -           -
        HDBSCAN  0.241777   NaN      -            2          27
DB      DBSCAN   0.038351  0.76      2            -           -
        HDBSCAN  0.202499   NaN      -            5          32
        KMeans   1.602286   NaN      -            -           -
Entropy DBSCAN   0.000871  0.54      2            -           -
        HDBSCAN  0.035466   NaN      -            2          33
        KMeans   0.672388   NaN      -            -           -

In [160]:
tab.\
    to_html(na_rep='-', float_format="%.3f")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Distance</th>\n      <th>Dim</th>\n      <th>$k$</th>\n      <th>SL</th>\n      <th>CH</th>\n      <th>DB</th>\n      <th>Entropy</th>\n      <th>Eps</th>\n      <th>MinPts</th>\n      <th>Min Clt Size</th>\n      <th>Min Samples</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th>Method</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="3" valign="top">SL</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>3354.887</td>\n      <td>0.290</td>\n      <td>0.081</td>\n      <td>0.820</td>\n      <td>5</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.886</td>\n      <td>808.642</td>\n      <td>0.617</td>\n      <td>0.202</td>\n      <td>-</td>\n      <td>-</td>\n      <td>5</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.134</td>\n      <td>796.314</td>\n      <td>5.127</td>\n      <td>0.683</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">CH</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>3354.887</td>\n      <td>0.290</td>\n      <td>0.081</td>\n      <td>0.820</td>\n      <td>5</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.123</td>\n      <td>966.627</td>\n      <td>4.728</td>\n      <td>0.672</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.880</td>\n      <td>826.451</td>\n      <td>0.626</td>\n      <td>0.242</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>27</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">DB</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.968</td>\n      <td>2435.317</td>\n      <td>0.261</td>\n      <td>0.038</td>\n      <td>0.760</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.886</td>\n      <td>808.642</td>\n      <td>0.617</td>\n      <td>0.202</td>\n      <td>-</td>\n      <td>-</td>\n      <td>5</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>20</td>\n      <td>-0.004</td>\n      <td>104.040</td>\n      <td>2.851</td>\n      <td>1.602</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">Entropy</th>\n      <th>DBSCAN</th>\n      <td>WMD</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.582</td>\n      <td>12.698</td>\n      <td>1.068</td>\n      <td>0.001</td>\n      <td>0.540</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.797</td>\n      <td>19.541</td>\n      <td>0.663</td>\n      <td>0.035</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>33</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.123</td>\n      <td>966.627</td>\n      <td>4.728</td>\n      <td>0.672</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n  </tbody>\n</table>'

In [161]:
dat = next(iterator_datasets)
tab_best = pd.DataFrame()
print(dat)
for score in eval_scores:
    if score in ['db_score', 'entropy']:
        asc = True
    else:
        asc= False
    tmp1 = pd.concat([
        df_kmeans.loc[df_kmeans['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_dbscan.loc[df_dbscan['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_hdbscan.loc[df_hdbscan['dataset']==dat,:].sort_values(score,ascending=asc).head(1)
    ])
    tmp1['focus'] = score
    tmp1['focus'] = tmp1['focus'].map(ord_name)
    # tmp1['distance'] = tmp1['distance'].map(dis_name)
    tmp1 = tmp1.sort_values(score, ascending=asc)
    tab_best = pd.concat([tab_best, tmp1.loc[:,ord_cols+['focus']].dropna(how='all',axis=1)])

best_labels_ = {}
for score in eval_scores:
    for idx, row in tab_best.iterrows():
        if row['method'] == 'KMeans':
            label = labels_km(row, dat)
        elif row['method'] == 'DBSCAN':
            label = labels_db(row, dat)
        elif row['method'] == 'HDBSCAN':
            label = labels_hd(row, dat)
        # print(row['focus'])
        # print(label)
        if row['focus'] in best_labels_:
            best_labels_[row['focus']].append(label)
        else:
            best_labels_[row['focus']] = [label]

best_labels_ = {k:list(set(v)) for k, v in best_labels_.items()}
best_labels = {}
for k, v in best_labels_.items():
    for i in range(len(v)):
        if k not in best_labels:
            best_labels[k] = {i: v[i]}
        else:
            best_labels[k].update({i: v[i]})
# best_labels
best_labs_all[dat] = best_labels
# best_labs_all
# tab_best['distance'] = tab_best['distance'].map(dis_name)
# tab_best[['MinPts', 'Min Clt Size', 'Min Samples']] = tab_best[['MinPts', 'Min Clt Size', 'Min Samples']].fillna(-1).astype(int).astype(str).replace('-1','')
# tab_best.columns = tab_best.columns.map(ord_name)
# tab_best.drop(columns=[r'$k$ (% Noise)']).set_index(['Score', 'Method'])
tab = prepare_best_table(tab_best, dis_name, ord_name)
tab

chains_eq_3

                  Distance  Dim  $k$         SL           CH        DB  \
Score   Method
SL      DBSCAN         WMD   50    2  12.712286     1.056969  0.003072
        HDBSCAN    L2 Norm  300    2   0.832007    30.547183  0.537805
        KMeans   Euclidean  300    2   0.125059   235.633476  5.859281
CH      DBSCAN   Euclidean   50    2   0.967235  4375.641036  0.140199
        KMeans   Euclidean  300    2   0.125059   235.633476  5.859281
        HDBSCAN    L2 Norm  300    4   0.376214   180.775041  0.895671
DB      DBSCAN         WMD   50    2  12.712286     1.056969  0.003072
        HDBSCAN    L2 Norm  300    2   0.832007    30.547183  0.537805
        KMeans   Euclidean  300   19   0.056731    29.395593  2.522628
Entropy DBSCAN      Cosine   50    2   0.019150     1.177548  0.906909
        HDBSCAN     Cosine   50    2   0.043307     1.708388  1.726079
        KMeans   Euclidean  300    2   0.125059   235.633476  5.859281

                  Entropy   Eps MinPts Min Clt Size Min Samples
Score   Method
SL      DBSCAN        NaN  0.27      2            -           -
        HDBSCAN  0.076197   NaN      -            2           6
        KMeans   0.677666   NaN      -            -           -
CH      DBSCAN   0.137406  0.78      4            -           -
        KMeans   0.677666   NaN      -            -           -
        HDBSCAN  0.133833   NaN      -            2           5
DB      DBSCAN        NaN  0.25      2            -           -
        HDBSCAN  0.076197   NaN      -            2           6
        KMeans   1.361204   NaN      -            -           -
Entropy DBSCAN   0.001262  0.43     15            -           -
        HDBSCAN  0.002234   NaN      -            2          33
        KMeans   0.677666   NaN      -            -           -

In [162]:
tab.\
    to_html(na_rep='-', float_format="%.3f")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Distance</th>\n      <th>Dim</th>\n      <th>$k$</th>\n      <th>SL</th>\n      <th>CH</th>\n      <th>DB</th>\n      <th>Entropy</th>\n      <th>Eps</th>\n      <th>MinPts</th>\n      <th>Min Clt Size</th>\n      <th>Min Samples</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th>Method</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="3" valign="top">SL</th>\n      <th>DBSCAN</th>\n      <td>WMD</td>\n      <td>50</td>\n      <td>2</td>\n      <td>12.712</td>\n      <td>1.057</td>\n      <td>0.003</td>\n      <td>-</td>\n      <td>0.270</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>L2 Norm</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.832</td>\n      <td>30.547</td>\n      <td>0.538</td>\n      <td>0.076</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.125</td>\n      <td>235.633</td>\n      <td>5.859</td>\n      <td>0.678</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">CH</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.967</td>\n      <td>4375.641</td>\n      <td>0.140</td>\n      <td>0.137</td>\n      <td>0.780</td>\n      <td>4</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.125</td>\n      <td>235.633</td>\n      <td>5.859</td>\n      <td>0.678</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>L2 Norm</td>\n      <td>300</td>\n      <td>4</td>\n      <td>0.376</td>\n      <td>180.775</td>\n      <td>0.896</td>\n      <td>0.134</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">DB</th>\n      <th>DBSCAN</th>\n      <td>WMD</td>\n      <td>50</td>\n      <td>2</td>\n      <td>12.712</td>\n      <td>1.057</td>\n      <td>0.003</td>\n      <td>-</td>\n      <td>0.250</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>L2 Norm</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.832</td>\n      <td>30.547</td>\n      <td>0.538</td>\n      <td>0.076</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>19</td>\n      <td>0.057</td>\n      <td>29.396</td>\n      <td>2.523</td>\n      <td>1.361</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">Entropy</th>\n      <th>DBSCAN</th>\n      <td>Cosine</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.019</td>\n      <td>1.178</td>\n      <td>0.907</td>\n      <td>0.001</td>\n      <td>0.430</td>\n      <td>15</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Cosine</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.043</td>\n      <td>1.708</td>\n      <td>1.726</td>\n      <td>0.002</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>33</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.125</td>\n      <td>235.633</td>\n      <td>5.859</td>\n      <td>0.678</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n  </tbody>\n</table>'

In [163]:
dat = next(iterator_datasets)
tab_best = pd.DataFrame()
print(dat)
for score in eval_scores:
    if score in ['db_score', 'entropy']:
        asc = True
    else:
        asc= False
    tmp1 = pd.concat([
        df_kmeans.loc[df_kmeans['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_dbscan.loc[df_dbscan['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_hdbscan.loc[df_hdbscan['dataset']==dat,:].sort_values(score,ascending=asc).head(1)
    ])
    tmp1['focus'] = score
    tmp1['focus'] = tmp1['focus'].map(ord_name)
    # tmp1['distance'] = tmp1['distance'].map(dis_name)
    tmp1 = tmp1.sort_values(score, ascending=asc)
    tab_best = pd.concat([tab_best, tmp1.loc[:,ord_cols+['focus']].dropna(how='all',axis=1)])

best_labels_ = {}
for score in eval_scores:
    for idx, row in tab_best.iterrows():
        if row['method'] == 'KMeans':
            label = labels_km(row, dat)
        elif row['method'] == 'DBSCAN':
            label = labels_db(row, dat)
        elif row['method'] == 'HDBSCAN':
            label = labels_hd(row, dat)
        # print(row['focus'])
        # print(label)
        if row['focus'] in best_labels_:
            best_labels_[row['focus']].append(label)
        else:
            best_labels_[row['focus']] = [label]

best_labels_ = {k:list(set(v)) for k, v in best_labels_.items()}
best_labels = {}
for k, v in best_labels_.items():
    for i in range(len(v)):
        if k not in best_labels:
            best_labels[k] = {i: v[i]}
        else:
            best_labels[k].update({i: v[i]})
# best_labels
best_labs_all[dat] = best_labels
# best_labs_all
# tab_best['distance'] = tab_best['distance'].map(dis_name)
# tab_best[['MinPts', 'Min Clt Size', 'Min Samples']] = tab_best[['MinPts', 'Min Clt Size', 'Min Samples']].fillna(-1).astype(int).astype(str).replace('-1','')
# tab_best.columns = tab_best.columns.map(ord_name)
# tab_best.drop(columns=[r'$k$ (% Noise)']).set_index(['Score', 'Method'])
tab = prepare_best_table(tab_best, dis_name, ord_name)
tab

chains_ge_4_lt_10

                  Distance  Dim  $k$        SL           CH        DB  \
Score   Method
SL      DBSCAN   Euclidean   50    2  0.971391  4648.157274  0.077740
        HDBSCAN  Euclidean  300    2  0.952080   595.956277  0.444803
        KMeans   Euclidean  300    2  0.130799   250.298321  5.986984
CH      DBSCAN   Euclidean   50    2  0.965472  8049.609924  0.120699
        HDBSCAN  Euclidean  300    2  0.952080   595.956277  0.444803
        KMeans   Euclidean   50    2  0.026429   255.962747  6.041970
DB      DBSCAN   Euclidean   50    2  0.971391  4648.157274  0.077740
        HDBSCAN  Euclidean  300    2  0.944887   261.491551  0.335176
        KMeans   Euclidean  300   18  0.060717    43.332352  2.735548
Entropy DBSCAN      Cosine   50    2  0.058241     0.828526  1.081101
        HDBSCAN     Cosine   50    2  0.053214     1.830733  1.679139
        KMeans   Euclidean  300    2  0.130799   250.298321  5.986984

                  Entropy   Eps MinPts Min Clt Size Min Samples
Score   Method
SL      DBSCAN   0.074447  0.50      2            -           -
        HDBSCAN  0.074447   NaN      -            2          29
        KMeans   0.672911   NaN      -            -           -
CH      DBSCAN   0.211335  0.69      8            -           -
        HDBSCAN  0.074447   NaN      -            2          28
        KMeans   0.692301   NaN      -            -           -
DB      DBSCAN   0.074447  0.50      2            -           -
        HDBSCAN  0.074023   NaN      -            2          25
        KMeans   1.354116   NaN      -            -           -
Entropy DBSCAN   0.001080  0.43      7            -           -
        HDBSCAN  0.001993   NaN      -            2          26
        KMeans   0.672911   NaN      -            -           -

In [164]:
tab.\
    to_html(na_rep='-', float_format="%.3f")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Distance</th>\n      <th>Dim</th>\n      <th>$k$</th>\n      <th>SL</th>\n      <th>CH</th>\n      <th>DB</th>\n      <th>Entropy</th>\n      <th>Eps</th>\n      <th>MinPts</th>\n      <th>Min Clt Size</th>\n      <th>Min Samples</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th>Method</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="3" valign="top">SL</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>4648.157</td>\n      <td>0.078</td>\n      <td>0.074</td>\n      <td>0.500</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.952</td>\n      <td>595.956</td>\n      <td>0.445</td>\n      <td>0.074</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.131</td>\n      <td>250.298</td>\n      <td>5.987</td>\n      <td>0.673</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">CH</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.965</td>\n      <td>8049.610</td>\n      <td>0.121</td>\n      <td>0.211</td>\n      <td>0.690</td>\n      <td>8</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.952</td>\n      <td>595.956</td>\n      <td>0.445</td>\n      <td>0.074</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.026</td>\n      <td>255.963</td>\n      <td>6.042</td>\n      <td>0.692</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">DB</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>4648.157</td>\n      <td>0.078</td>\n      <td>0.074</td>\n      <td>0.500</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.945</td>\n      <td>261.492</td>\n      <td>0.335</td>\n      <td>0.074</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>18</td>\n      <td>0.061</td>\n      <td>43.332</td>\n      <td>2.736</td>\n      <td>1.354</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">Entropy</th>\n      <th>DBSCAN</th>\n      <td>Cosine</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.058</td>\n      <td>0.829</td>\n      <td>1.081</td>\n      <td>0.001</td>\n      <td>0.430</td>\n      <td>7</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Cosine</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.053</td>\n      <td>1.831</td>\n      <td>1.679</td>\n      <td>0.002</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.131</td>\n      <td>250.298</td>\n      <td>5.987</td>\n      <td>0.673</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n  </tbody>\n</table>'

In [165]:
dat = next(iterator_datasets)
tab_best = pd.DataFrame()
print(dat)
for score in eval_scores:
    if score in ['db_score', 'entropy']:
        asc = True
    else:
        asc= False
    tmp1 = pd.concat([
        df_kmeans.loc[df_kmeans['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_dbscan.loc[df_dbscan['dataset']==dat, :].sort_values(score,ascending=asc).head(1),
        df_hdbscan.loc[df_hdbscan['dataset']==dat,:].sort_values(score,ascending=asc).head(1)
    ])
    tmp1['focus'] = score
    tmp1['focus'] = tmp1['focus'].map(ord_name)
    # tmp1['distance'] = tmp1['distance'].map(dis_name)
    tmp1 = tmp1.sort_values(score, ascending=asc)
    tab_best = pd.concat([tab_best, tmp1.loc[:,ord_cols+['focus']].dropna(how='all',axis=1)])

best_labels_ = {}
for score in eval_scores:
    for idx, row in tab_best.iterrows():
        if row['method'] == 'KMeans':
            label = labels_km(row, dat)
        elif row['method'] == 'DBSCAN':
            label = labels_db(row, dat)
        elif row['method'] == 'HDBSCAN':
            label = labels_hd(row, dat)
        # print(row['focus'])
        # print(label)
        if row['focus'] in best_labels_:
            best_labels_[row['focus']].append(label)
        else:
            best_labels_[row['focus']] = [label]

best_labels_ = {k:list(set(v)) for k, v in best_labels_.items()}
best_labels = {}
for k, v in best_labels_.items():
    for i in range(len(v)):
        if k not in best_labels:
            best_labels[k] = {i: v[i]}
        else:
            best_labels[k].update({i: v[i]})
# best_labels
best_labs_all[dat] = best_labels
# best_labs_all
# tab_best['distance'] = tab_best['distance'].map(dis_name)
# tab_best[['MinPts', 'Min Clt Size', 'Min Samples']] = tab_best[['MinPts', 'Min Clt Size', 'Min Samples']].fillna(-1).astype(int).astype(str).replace('-1','')
# tab_best.columns = tab_best.columns.map(ord_name)
# tab_best.drop(columns=[r'$k$ (% Noise)']).set_index(['Score', 'Method'])
tab = prepare_best_table(tab_best, dis_name, ord_name)
tab

chains_ge_10

                  Distance  Dim  $k$        SL           CH        DB  \
Score   Method
SL      DBSCAN   Euclidean  300    2  0.974457  3260.838531  0.149425
        HDBSCAN  Euclidean  300    2  0.742529    85.182302  0.488786
        KMeans   Euclidean  300    2  0.151042     1.693616  0.740964
CH      DBSCAN   Euclidean   50    2  0.971363  4488.032424  0.080403
        HDBSCAN    L2 Norm  300    2  0.720100   236.593386  0.525198
        KMeans   Euclidean   50    2  0.043450   130.748332  5.806007
DB      DBSCAN   Euclidean   50    2  0.971363  4488.032424  0.080403
        HDBSCAN  Euclidean  300    2  0.742529    85.182302  0.488786
        KMeans   Euclidean  300    3  0.146484     1.791020  0.726094
Entropy KMeans   Euclidean  300    2  0.151042     1.693616  0.740964
        DBSCAN   Euclidean  300    2  0.370396     7.191969  0.783380
        HDBSCAN     Cosine   50    2  0.043669     2.010144  1.646079

                  Entropy       Eps MinPts Min Clt Size Min Samples    NN
Score   Method
SL      DBSCAN   0.102108  0.630000      2            -           -   NaN
        HDBSCAN  0.215816       NaN      -            3          25   NaN
        KMeans   0.001799       NaN      -            -           -   NaN
CH      DBSCAN   0.102967  0.550000      2            -           -   NaN
        HDBSCAN  0.454319       NaN      -            4          22   NaN
        KMeans   0.615378       NaN      -            -           -   NaN
DB      DBSCAN   0.102967  0.550000      2            -           -   NaN
        HDBSCAN  0.215816       NaN      -            3          25   NaN
        KMeans   0.003599       NaN      -            -           -   NaN
Entropy KMeans   0.001799       NaN      -            -           -   NaN
        DBSCAN   0.003372  5.433204      2            -           -  29.0
        HDBSCAN  0.003839       NaN      -            2          34   NaN

In [166]:
tab.\
    to_html(na_rep='-', float_format="%.3f")

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Distance</th>\n      <th>Dim</th>\n      <th>$k$</th>\n      <th>SL</th>\n      <th>CH</th>\n      <th>DB</th>\n      <th>Entropy</th>\n      <th>Eps</th>\n      <th>MinPts</th>\n      <th>Min Clt Size</th>\n      <th>Min Samples</th>\n      <th>NN</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th>Method</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="3" valign="top">SL</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.974</td>\n      <td>3260.839</td>\n      <td>0.149</td>\n      <td>0.102</td>\n      <td>0.630</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.743</td>\n      <td>85.182</td>\n      <td>0.489</td>\n      <td>0.216</td>\n      <td>-</td>\n      <td>-</td>\n      <td>3</td>\n      <td>25</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.151</td>\n      <td>1.694</td>\n      <td>0.741</td>\n      <td>0.002</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">CH</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>4488.032</td>\n      <td>0.080</td>\n      <td>0.103</td>\n      <td>0.550</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>L2 Norm</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.720</td>\n      <td>236.593</td>\n      <td>0.525</td>\n      <td>0.454</td>\n      <td>-</td>\n      <td>-</td>\n      <td>4</td>\n      <td>22</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.043</td>\n      <td>130.748</td>\n      <td>5.806</td>\n      <td>0.615</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">DB</th>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.971</td>\n      <td>4488.032</td>\n      <td>0.080</td>\n      <td>0.103</td>\n      <td>0.550</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.743</td>\n      <td>85.182</td>\n      <td>0.489</td>\n      <td>0.216</td>\n      <td>-</td>\n      <td>-</td>\n      <td>3</td>\n      <td>25</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>3</td>\n      <td>0.146</td>\n      <td>1.791</td>\n      <td>0.726</td>\n      <td>0.004</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th rowspan="3" valign="top">Entropy</th>\n      <th>KMeans</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.151</td>\n      <td>1.694</td>\n      <td>0.741</td>\n      <td>0.002</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n      <td>-</td>\n    </tr>\n    <tr>\n      <th>DBSCAN</th>\n      <td>Euclidean</td>\n      <td>300</td>\n      <td>2</td>\n      <td>0.370</td>\n      <td>7.192</td>\n      <td>0.783</td>\n      <td>0.003</td>\n      <td>5.433</td>\n      <td>2</td>\n      <td>-</td>\n      <td>-</td>\n      <td>29.000</td>\n    </tr>\n    <tr>\n      <th>HDBSCAN</th>\n      <td>Cosine</td>\n      <td>50</td>\n      <td>2</td>\n      <td>0.044</td>\n      <td>2.010</td>\n      <td>1.646</td>\n      <td>0.004</td>\n      <td>-</td>\n      <td>-</td>\n      <td>2</td>\n      <td>34</td>\n      <td>-</td>\n    </tr>\n  </tbody>\n</table>'

In [167]:
best_labs_all

{'chains_eq_2': {'SL': {0: 'labels_km_chains_eq_2_300_02_euclidean.pkl',
   1: 'labels_dbscan_chains_eq_2_300_0.82_05_euclidean.pkl',
   2: 'labels_hdbscan_chains_eq_2_50_05_34_euclidean.pkl'},
  'CH': {0: 'labels_km_chains_eq_2_50_02_euclidean.pkl',
   1: 'labels_hdbscan_chains_eq_2_50_02_27_euclidean.pkl',
   2: 'labels_dbscan_chains_eq_2_300_0.82_05_euclidean.pkl'},
  'DB': {0: 'labels_dbscan_chains_eq_2_300_0.76_02_euclidean.pkl',
   1: 'labels_hdbscan_chains_eq_2_50_05_32_euclidean.pkl',
   2: 'labels_km_chains_eq_2_300_20_euclidean.pkl'},
  'Entropy': {0: 'labels_km_chains_eq_2_50_02_euclidean.pkl',
   1: 'labels_dbscan_chains_eq_2_50_0.54_02_wmd.pkl',
   2: 'labels_hdbscan_chains_eq_2_300_02_33_euclidean.pkl'}},
 'chains_eq_3': {'SL': {0: 'labels_hdbscan_chains_eq_3_300_02_06_l2.pkl',
   1: 'labels_km_chains_eq_3_300_02_euclidean.pkl',
   2: 'labels_dbscan_chains_eq_3_50_0.27_02_wmd.pkl'},
  'CH': {0: 'labels_dbscan_chains_eq_3_50_0.78_04_euclidean.pkl',
   1: 'labels_km_chains_eq_3_300_02_euclidean.pkl',
   2: 'labels_hdbscan_chains_eq_3_300_02_05_l2.pkl'},
  'DB': {0: 'labels_hdbscan_chains_eq_3_300_02_06_l2.pkl',
   1: 'labels_dbscan_chains_eq_3_50_0.25_02_wmd.pkl',
   2: 'labels_km_chains_eq_3_300_19_euclidean.pkl'},
  'Entropy': {0: 'labels_dbscan_chains_eq_3_50_0.43_15_cosine.pkl',
   1: 'labels_km_chains_eq_3_300_02_euclidean.pkl',
   2: 'labels_hdbscan_chains_eq_3_50_02_33_cosine.pkl'}},
 'chains_ge_4_lt_10': {'SL': {0: 'labels_hdbscan_chains_ge_4_lt_10_300_02_29_euclidean.pkl',
   1: 'labels_km_chains_ge_4_lt_10_300_02_euclidean.pkl',
   2: 'labels_dbscan_chains_ge_4_lt_10_50_0.5_02_euclidean.pkl'},
  'CH': {0: 'labels_km_chains_ge_4_lt_10_50_02_euclidean.pkl',
   1: 'labels_hdbscan_chains_ge_4_lt_10_300_02_28_euclidean.pkl',
   2: 'labels_dbscan_chains_ge_4_lt_10_50_0.69_08_euclidean.pkl'},
  'DB': {0: 'labels_hdbscan_chains_ge_4_lt_10_300_02_25_euclidean.pkl',
   1: 'labels_km_chains_ge_4_lt_10_300_18_euclidean.pkl',
   2: 'labels_dbscan_chains_ge_4_lt_10_50_0.5_02_euclidean.pkl'},
  'Entropy': {0: 'labels_hdbscan_chains_ge_4_lt_10_50_02_26_cosine.pkl',
   1: 'labels_km_chains_ge_4_lt_10_300_02_euclidean.pkl',
   2: 'labels_dbscan_chains_ge_4_lt_10_50_0.43_07_cosine.pkl'}},
 'chains_ge_10': {'SL': {0: 'labels_hdbscan_chains_ge_10_300_03_25_euclidean.pkl',
   1: 'labels_km_chains_ge_10_300_02_euclidean.pkl',
   2: 'labels_dbscan_chains_ge_10_300_0.63_02_euclidean.pkl'},
  'CH': {0: 'labels_hdbscan_chains_ge_10_300_04_22_l2.pkl',
   1: 'labels_dbscan_chains_ge_10_50_0.55_02_euclidean.pkl',
   2: 'labels_km_chains_ge_10_50_02_euclidean.pkl'},
  'DB': {0: 'labels_hdbscan_chains_ge_10_300_03_25_euclidean.pkl',
   1: 'labels_dbscan_chains_ge_10_50_0.55_02_euclidean.pkl',
   2: 'labels_km_chains_ge_10_300_03_euclidean.pkl'},
  'Entropy': {0: 'labels_hdbscan_chains_ge_10_50_02_34_cosine.pkl',
   1: 'labels_dbscan_chains_ge_10_300_5.43320*_02_euclidean.pkl',
   2: 'labels_km_chains_ge_10_300_02_euclidean.pkl'}}}

In [168]:
clusters_all = {}
for dat in datasets:
    clusters = {}
    for i, scr in best_labs_all[dat].items():
        for j, lab in scr.items():
            p = [p for p in labels_dir.glob(lab.lower())][0]
            if i not in clusters:
                clusters[i] = {j:pd.read_pickle(p)}
            else:
                clusters[i].update({j:pd.read_pickle(p)})
            # if dat in clusters:
            #     clusters[dat].append(pd.read_pickle(Path(labels_dir, lab)))
            # else:
            #     clusters[dat] = [pd.read_pickle(Path(labels_dir, lab))]
    clusters_all[dat] = clusters

In [169]:
lab

'labels_km_chains_ge_10_300_02_euclidean.pkl'

In [170]:
parsed_emails = {dat:pd.read_pickle(Path(data_dir,f'parsed_emails_{dat}.pkl')) for dat in datasets}

In [171]:
results_all = {}
for dat in datasets:
    results = {}
    for i, a in clusters_all[dat].items():
        for j, b in a.items():
            tmp = parsed_emails[dat].copy()
            tmp['label'] = b
            if i not in results:
                results[i] = {j:tmp}
            else:
                results[i].update({j:tmp})
    results_all[dat] = results

In [172]:
def get_cluster_tables(df):
    return df.rename(columns={'index':'k', 'label':'Counts'}).pivot_table(index='k', columns=['Score', 'Method'], fill_value=-1).astype(str).replace('-1', np.nan)

In [173]:
iterator_datasets = iter(datasets)

In [174]:
dat = next(iterator_datasets)
print(dat)
df_counts = pd.DataFrame()
for i, a in results_all[dat].items():
    for j, b in a.items():
        # print(best_labs_all[dat][i][j].split('_'))
        # print(i, j)
        # print(b['label'].value_counts())
        # if j == 0:
        tmp3 = pd.DataFrame(b['label'].value_counts()).reset_index()
        tmp3['Score'] = i
        tmp3['Method'] = best_labs_all[dat][i][j].split('_')[1]

        df_counts = pd.concat([df_counts, tmp3], ignore_index=True)
        # else:
        #     pass
           
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables(df_counts)
df_cls_tab

chains_eq_2

       Counts                                                             \
Score      CH                    DB               Entropy
Method dbscan hdbscan     km dbscan hdbscan    km  dbscan hdbscan     km
k
-1      23522   23505    NaN  23525   23510   NaN       5   23494    NaN
 0          5      22   9500    314      17   637   23834       2   9500
 1        314     314  14341      2     314  2418       2     345  14341
 2        NaN     NaN    NaN    NaN     NaN   690     NaN     NaN    NaN
 3        NaN     NaN    NaN    NaN     NaN  7833     NaN     NaN    NaN
 4        NaN     NaN    NaN    NaN     NaN  7906     NaN     NaN    NaN
 5        NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 6        NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 7        NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 8        NaN     NaN    NaN    NaN     NaN  3414     NaN     NaN    NaN
 9        NaN     NaN    NaN    NaN     NaN     2     NaN     NaN    NaN
 10       NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 11       NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 12       NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 13       NaN     NaN    NaN    NaN     NaN     2     NaN     NaN    NaN
 14       NaN     NaN    NaN    NaN     NaN   557     NaN     NaN    NaN
 15       NaN     NaN    NaN    NaN     NaN   360     NaN     NaN    NaN
 16       NaN     NaN    NaN    NaN     NaN     2     NaN     NaN    NaN
 17       NaN     NaN    NaN    NaN     NaN     4     NaN     NaN    NaN
 18       NaN     NaN    NaN    NaN     NaN     1     NaN     NaN    NaN
 19       NaN     NaN    NaN    NaN     NaN     9     NaN     NaN    NaN


Score      SL
Method dbscan hdbscan     km
k
-1      23522   23510    NaN
 0          5      17   8372
 1        314     314  15469
 2        NaN     NaN    NaN
 3        NaN     NaN    NaN
 4        NaN     NaN    NaN
 5        NaN     NaN    NaN
 6        NaN     NaN    NaN
 7        NaN     NaN    NaN
 8        NaN     NaN    NaN
 9        NaN     NaN    NaN
 10       NaN     NaN    NaN
 11       NaN     NaN    NaN
 12       NaN     NaN    NaN
 13       NaN     NaN    NaN
 14       NaN     NaN    NaN
 15       NaN     NaN    NaN
 16       NaN     NaN    NaN
 17       NaN     NaN    NaN
 18       NaN     NaN    NaN
 19       NaN     NaN    NaN

In [175]:
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k']).T.\
df_cls_tab.to_html(na_rep='')

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th colspan="12" halign="left">Counts</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th colspan="3" halign="left">CH</th>\n      <th colspan="3" halign="left">DB</th>\n      <th colspan="3" halign="left">Entropy</th>\n      <th colspan="3" halign="left">SL</th>\n    </tr>\n    <tr>\n      <th>Method</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n    </tr>\n    <tr>\n      <th>k</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>-1</th>\n      <td>23522</td>\n      <td>23505</td>\n      <td></td>\n      <td>23525</td>\n      <td>23510</td>\n      <td></td>\n      <td>5</td>\n      <td>23494</td>\n      <td></td>\n      <td>23522</td>\n      <td>23510</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>5</td>\n      <td>22</td>\n      <td>9500</td>\n      <td>314</td>\n      <td>17</td>\n      <td>637</td>\n      <td>23834</td>\n      <td>2</td>\n      <td>9500</td>\n      <td>5</td>\n      <td>17</td>\n      <td>8372</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>314</td>\n      <td>314</td>\n      <td>14341</td>\n      <td>2</td>\n      <td>314</td>\n      <td>2418</td>\n      <td>2</td>\n      <td>345</td>\n      <td>14341</td>\n      <td>314</td>\n      <td>314</td>\n      <td>15469</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>690</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>7833</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>7906</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>3414</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>557</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>360</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>4</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>9</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n  </tbody>\n</table>'

In [176]:
dat = next(iterator_datasets)
print(dat)
df_counts = pd.DataFrame()
for i, a in results_all[dat].items():
    for j, b in a.items():
        # print(best_labs_all[dat][i][j].split('_'))
        # print(i, j)
        # print(b['label'].value_counts())
        # if j == 0:
        tmp3 = pd.DataFrame(b['label'].value_counts()).reset_index()
        tmp3['Score'] = i
        tmp3['Method'] = best_labs_all[dat][i][j].split('_')[1]
        df_counts = pd.concat([df_counts, tmp3], ignore_index=True)
        # else:
            # pass

# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables(df_counts)
df_cls_tab

chains_eq_3

       Counts                                                                  \
Score      CH                   DB               Entropy                   SL
Method dbscan hdbscan    km dbscan hdbscan    km  dbscan hdbscan    km dbscan
k
-1       8639    8344   NaN    NaN    8632   NaN     863     411   NaN    NaN
 0        126       6  3615   8766     135     1    7905    8356  3615   8766
 1          4       2  5154      3       2  4168       1       2  5154      3
 2        NaN     415   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 3        NaN       2   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 4        NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 5        NaN     NaN   NaN    NaN     NaN     3     NaN     NaN   NaN    NaN
 6        NaN     NaN   NaN    NaN     NaN   557     NaN     NaN   NaN    NaN
 7        NaN     NaN   NaN    NaN     NaN     3     NaN     NaN   NaN    NaN
 8        NaN     NaN   NaN    NaN     NaN     3     NaN     NaN   NaN    NaN
 9        NaN     NaN   NaN    NaN     NaN     2     NaN     NaN   NaN    NaN
 10       NaN     NaN   NaN    NaN     NaN  1700     NaN     NaN   NaN    NaN
 11       NaN     NaN   NaN    NaN     NaN     2     NaN     NaN   NaN    NaN
 12       NaN     NaN   NaN    NaN     NaN     2     NaN     NaN   NaN    NaN
 13       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 14       NaN     NaN   NaN    NaN     NaN  1812     NaN     NaN   NaN    NaN
 15       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 16       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 17       NaN     NaN   NaN    NaN     NaN     3     NaN     NaN   NaN    NaN
 18       NaN     NaN   NaN    NaN     NaN   507     NaN     NaN   NaN    NaN


Score
Method hdbscan    km
k
-1        8632   NaN
 0         135  3615
 1           2  5154
 2         NaN   NaN
 3         NaN   NaN
 4         NaN   NaN
 5         NaN   NaN
 6         NaN   NaN
 7         NaN   NaN
 8         NaN   NaN
 9         NaN   NaN
 10        NaN   NaN
 11        NaN   NaN
 12        NaN   NaN
 13        NaN   NaN
 14        NaN   NaN
 15        NaN   NaN
 16        NaN   NaN
 17        NaN   NaN
 18        NaN   NaN

In [177]:
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k']).T.\
df_cls_tab.to_html(na_rep='')

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th colspan="12" halign="left">Counts</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th colspan="3" halign="left">CH</th>\n      <th colspan="3" halign="left">DB</th>\n      <th colspan="3" halign="left">Entropy</th>\n      <th colspan="3" halign="left">SL</th>\n    </tr>\n    <tr>\n      <th>Method</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n    </tr>\n    <tr>\n      <th>k</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>-1</th>\n      <td>8639</td>\n      <td>8344</td>\n      <td></td>\n      <td></td>\n      <td>8632</td>\n      <td></td>\n      <td>863</td>\n      <td>411</td>\n      <td></td>\n      <td></td>\n      <td>8632</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>126</td>\n      <td>6</td>\n      <td>3615</td>\n      <td>8766</td>\n      <td>135</td>\n      <td>1</td>\n      <td>7905</td>\n      <td>8356</td>\n      <td>3615</td>\n      <td>8766</td>\n      <td>135</td>\n      <td>3615</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>4</td>\n      <td>2</td>\n      <td>5154</td>\n      <td>3</td>\n      <td>2</td>\n      <td>4168</td>\n      <td>1</td>\n      <td>2</td>\n      <td>5154</td>\n      <td>3</td>\n      <td>2</td>\n      <td>5154</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td></td>\n      <td>415</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>3</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>557</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>3</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>3</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1700</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1812</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>3</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>507</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n  </tbody>\n</table>'

In [178]:
dat = next(iterator_datasets)
print(dat)
df_counts = pd.DataFrame()
for i, a in results_all[dat].items():
    for j, b in a.items():
        # print(best_labs_all[dat][i][j].split('_'))
        # print(i, j)
        # print(b['label'].value_counts())
        # if j == 0:
        tmp3 = pd.DataFrame(b['label'].value_counts()).reset_index()
        tmp3['Score'] = i
        tmp3['Method'] = best_labs_all[dat][i][j].split('_')[1]
        df_counts = pd.concat([df_counts, tmp3], ignore_index=True)
        # else:
        #     pass

# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables(df_counts)
df_cls_tab

chains_ge_4_lt_10

       Counts                                                                  \
Score      CH                   DB               Entropy                   SL
Method dbscan hdbscan    km dbscan hdbscan    km  dbscan hdbscan    km dbscan
k
-1       9529    9535   NaN   9535    9534   NaN     278     179   NaN   9535
 0        139       2  4639    139     140     5    9397    9495  3868    139
 1          8     139  5037      2       2  4621       1       2  5808      2
 2        NaN     NaN   NaN    NaN     NaN   357     NaN     NaN   NaN    NaN
 3        NaN     NaN   NaN    NaN     NaN   338     NaN     NaN   NaN    NaN
 4        NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 5        NaN     NaN   NaN    NaN     NaN     9     NaN     NaN   NaN    NaN
 6        NaN     NaN   NaN    NaN     NaN     7     NaN     NaN   NaN    NaN
 7        NaN     NaN   NaN    NaN     NaN  2370     NaN     NaN   NaN    NaN
 8        NaN     NaN   NaN    NaN     NaN  1789     NaN     NaN   NaN    NaN
 9        NaN     NaN   NaN    NaN     NaN     2     NaN     NaN   NaN    NaN
 10       NaN     NaN   NaN    NaN     NaN     6     NaN     NaN   NaN    NaN
 11       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 12       NaN     NaN   NaN    NaN     NaN     8     NaN     NaN   NaN    NaN
 13       NaN     NaN   NaN    NaN     NaN     5     NaN     NaN   NaN    NaN
 14       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN
 15       NaN     NaN   NaN    NaN     NaN    10     NaN     NaN   NaN    NaN
 16       NaN     NaN   NaN    NaN     NaN   145     NaN     NaN   NaN    NaN
 17       NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN


Score
Method hdbscan    km
k
-1        9535   NaN
 0           2  3868
 1         139  5808
 2         NaN   NaN
 3         NaN   NaN
 4         NaN   NaN
 5         NaN   NaN
 6         NaN   NaN
 7         NaN   NaN
 8         NaN   NaN
 9         NaN   NaN
 10        NaN   NaN
 11        NaN   NaN
 12        NaN   NaN
 13        NaN   NaN
 14        NaN   NaN
 15        NaN   NaN
 16        NaN   NaN
 17        NaN   NaN

In [179]:
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k']).T.\
df_cls_tab.to_html(na_rep='')

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th colspan="12" halign="left">Counts</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th colspan="3" halign="left">CH</th>\n      <th colspan="3" halign="left">DB</th>\n      <th colspan="3" halign="left">Entropy</th>\n      <th colspan="3" halign="left">SL</th>\n    </tr>\n    <tr>\n      <th>Method</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n    </tr>\n    <tr>\n      <th>k</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>-1</th>\n      <td>9529</td>\n      <td>9535</td>\n      <td></td>\n      <td>9535</td>\n      <td>9534</td>\n      <td></td>\n      <td>278</td>\n      <td>179</td>\n      <td></td>\n      <td>9535</td>\n      <td>9535</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>139</td>\n      <td>2</td>\n      <td>4639</td>\n      <td>139</td>\n      <td>140</td>\n      <td>5</td>\n      <td>9397</td>\n      <td>9495</td>\n      <td>3868</td>\n      <td>139</td>\n      <td>2</td>\n      <td>3868</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>8</td>\n      <td>139</td>\n      <td>5037</td>\n      <td>2</td>\n      <td>2</td>\n      <td>4621</td>\n      <td>1</td>\n      <td>2</td>\n      <td>5808</td>\n      <td>2</td>\n      <td>139</td>\n      <td>5808</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>357</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>338</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>9</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>7</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2370</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1789</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>2</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>6</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>8</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>5</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>10</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>145</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n  </tbody>\n</table>'

In [180]:
dat = next(iterator_datasets)
print(dat)
df_counts = pd.DataFrame()
for i, a in results_all[dat].items():
    for j, b in a.items():
        # print(best_labs_all[dat][i][j].split('_'))
        # print(i, j)
        # print(b['label'].value_counts())
        # if j == 0:
        tmp3 = pd.DataFrame(b['label'].value_counts()).reset_index()
        tmp3['Score'] = i
        tmp3['Method'] = best_labs_all[dat][i][j].split('_')[1]
        df_counts = pd.concat([df_counts, tmp3], ignore_index=True)
        # else:
        #     pass

# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables(df_counts)
df_cls_tab

chains_ge_10

       Counts                                                                  \
Score      CH                   DB               Entropy                   SL
Method dbscan hdbscan    km dbscan hdbscan    km  dbscan hdbscan    km dbscan
k
-1       5230    5182   NaN   5230    5199   NaN      60     777   NaN   5229
 0         92     118  3698     92       7  5322    5262    4545     1     93
 1          2      24  1626      2     118     1       2       2  5323      2
 2        NaN     NaN   NaN    NaN     NaN     1     NaN     NaN   NaN    NaN


Score
Method hdbscan    km
k
-1        5199   NaN
 0           7     1
 1         118  5323
 2         NaN   NaN

In [181]:
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k']).T.\
df_cls_tab.to_html(na_rep='')

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th colspan="12" halign="left">Counts</th>\n    </tr>\n    <tr>\n      <th>Score</th>\n      <th colspan="3" halign="left">CH</th>\n      <th colspan="3" halign="left">DB</th>\n      <th colspan="3" halign="left">Entropy</th>\n      <th colspan="3" halign="left">SL</th>\n    </tr>\n    <tr>\n      <th>Method</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n      <th>dbscan</th>\n      <th>hdbscan</th>\n      <th>km</th>\n    </tr>\n    <tr>\n      <th>k</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>-1</th>\n      <td>5230</td>\n      <td>5182</td>\n      <td></td>\n      <td>5230</td>\n      <td>5199</td>\n      <td></td>\n      <td>60</td>\n      <td>777</td>\n      <td></td>\n      <td>5229</td>\n      <td>5199</td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>0</th>\n      <td>92</td>\n      <td>118</td>\n      <td>3698</td>\n      <td>92</td>\n      <td>7</td>\n      <td>5322</td>\n      <td>5262</td>\n      <td>4545</td>\n      <td>1</td>\n      <td>93</td>\n      <td>7</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>24</td>\n      <td>1626</td>\n      <td>2</td>\n      <td>118</td>\n      <td>1</td>\n      <td>2</td>\n      <td>2</td>\n      <td>5323</td>\n      <td>2</td>\n      <td>118</td>\n      <td>5323</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td>1</td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n      <td></td>\n    </tr>\n  </tbody>\n</table>'

In [182]:

for d in clusters.values():
    for i, c in d.items():
        print(len(c))

5324
5324
5324
5324
5324
5324
5324
5324
5324
5324
5324
5324

In [187]:
def get_cluster_tables2(df):
    return df.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])

def get_cluster_counts(dat, results, labels):
    df_counts = pd.DataFrame()
    for i, a in results[dat].items():
        for j, b in a.items():
            tmp3 = pd.DataFrame(b['label'].value_counts()).reset_index()
            tmp3['Score'] = i
            tmp3['Method'] = labels[dat][i][j].split('_')[1]

            df_counts = pd.concat([df_counts, tmp3], ignore_index=True)
    return df_counts

In [188]:
iterator_datasets = iter(datasets)

In [189]:
dat = next(iterator_datasets)
print(dat)
        
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables2(get_cluster_counts(dat, results_all, best_labs_all))
df_cls_tab

chains_eq_2

                     Counts
Score   Method  k
SL      km       1    15469
                 0     8372
        dbscan  -1    23522
                 1      314
                 0        5
        hdbscan -1    23510
                 1      314
                 0       17
CH      km       1    14341
                 0     9500
        hdbscan -1    23505
                 1      314
                 0       22
        dbscan  -1    23522
                 1      314
                 0        5
DB      dbscan  -1    23525
                 0      314
                 1        2
        hdbscan -1    23510
                 1      314
                 0       17
        km       4     7906
                 3     7833
                 8     3414
                 1     2418
                 2      690
                 0      637
                 14     557
                 15     360
                 19       9
                 17       4
                 13       2
                 16       2
                 9        2
                 5        1
                 18       1
                 12       1
                 6        1
                 10       1
                 7        1
                 11       1
Entropy km       1    14341
                 0     9500
        dbscan   0    23834
                -1        5
                 1        2
        hdbscan -1    23494
                 1      345
                 0        2

In [190]:
dat = next(iterator_datasets)
print(dat)
        
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables2(get_cluster_counts(dat, results_all, best_labs_all))
df_cls_tab

chains_eq_3

                     Counts
Score   Method  k
SL      hdbscan -1     8632
                 0      135
                 1        2
        km       1     5154
                 0     3615
        dbscan   0     8766
                 1        3
CH      dbscan  -1     8639
                 0      126
                 1        4
        km       1     5154
                 0     3615
        hdbscan -1     8344
                 2      415
                 0        6
                 1        2
                 3        2
DB      hdbscan -1     8632
                 0      135
                 1        2
        dbscan   0     8766
                 1        3
        km       1     4168
                 14    1812
                 10    1700
                 6      557
                 18     507
                 8        3
                 17       3
                 7        3
                 5        3
                 12       2
                 9        2
                 11       2
                 16       1
                 2        1
                 15       1
                 3        1
                 13       1
                 4        1
                 0        1
Entropy dbscan   0     7905
                -1      863
                 1        1
        km       1     5154
                 0     3615
        hdbscan  0     8356
                -1      411
                 1        2

In [191]:
dat = next(iterator_datasets)
print(dat)
        
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables2(get_cluster_counts(dat, results_all, best_labs_all))
df_cls_tab

chains_ge_4_lt_10

                     Counts
Score   Method  k
SL      hdbscan -1     9535
                 1      139
                 0        2
        km       1     5808
                 0     3868
        dbscan  -1     9535
                 0      139
                 1        2
CH      km       1     5037
                 0     4639
        hdbscan -1     9535
                 1      139
                 0        2
        dbscan  -1     9529
                 0      139
                 1        8
DB      hdbscan -1     9534
                 0      140
                 1        2
        km       1     4621
                 7     2370
                 8     1789
                 2      357
                 3      338
                 16     145
                 15      10
                 5        9
                 12       8
                 6        7
                 10       6
                 0        5
                 13       5
                 9        2
                 14       1
                 4        1
                 17       1
                 11       1
        dbscan  -1     9535
                 0      139
                 1        2
Entropy hdbscan  0     9495
                -1      179
                 1        2
        km       1     5808
                 0     3868
        dbscan   0     9397
                -1      278
                 1        1

In [192]:
dat = next(iterator_datasets)
print(dat)
        
# df_counts.rename(columns={'index':'k', 'label':'Counts'}).set_index(['Score', 'Method', 'k'])
df_cls_tab = get_cluster_tables2(get_cluster_counts(dat, results_all, best_labs_all))
df_cls_tab

chains_ge_10

                    Counts
Score   Method  k
SL      hdbscan -1    5199
                 1     118
                 0       7
        km       1    5323
                 0       1
        dbscan  -1    5229
                 0      93
                 1       2
CH      hdbscan -1    5182
                 0     118
                 1      24
        dbscan  -1    5230
                 0      92
                 1       2
        km       0    3698
                 1    1626
DB      hdbscan -1    5199
                 1     118
                 0       7
        dbscan  -1    5230
                 0      92
                 1       2
        km       0    5322
                 2       1
                 1       1
Entropy hdbscan  0    4545
                -1     777
                 1       2
        dbscan   0    5262
                -1      60
                 1       2
        km       1    5323
                 0       1

## Chains len 3

In [43]:
best_labs_all[dat]

{'SL': {0: 'labels_hdbscan_chains_ge_10_300_03_25_euclidean.pkl',
  1: 'labels_km_chains_ge_10_300_02_euclidean.pkl',
  2: 'labels_dbscan_chains_ge_10_300_0.63_02_euclidean.pkl'},
 'CH': {0: 'labels_hdbscan_chains_ge_10_300_04_22_l2.pkl',
  1: 'labels_dbscan_chains_ge_10_50_0.55_02_euclidean.pkl',
  2: 'labels_km_chains_ge_10_50_02_euclidean.pkl'},
 'DB': {0: 'labels_hdbscan_chains_ge_10_300_03_25_euclidean.pkl',
  1: 'labels_dbscan_chains_ge_10_50_0.55_02_euclidean.pkl',
  2: 'labels_km_chains_ge_10_300_03_euclidean.pkl'},
 'Entropy': {0: 'labels_hdbscan_chains_ge_10_50_02_34_cosine.pkl',
  1: 'labels_dbscan_chains_ge_10_300_5.43320*_02_euclidean.pkl',
  2: 'labels_km_chains_ge_10_300_02_euclidean.pkl'}}

In [44]:
best_labs_all[dat]['SL'][2]

'labels_dbscan_chains_ge_10_300_0.63_02_euclidean.pkl'

In [57]:
dat

'chains_ge_10'

In [48]:
labs_array = pd.read_pickle(Path(labels_dir, best_labs_all[dat]['SL'][2]))

In [52]:
df_best = parsed_emails[dat]
df_best['cluster'] = labs_array

In [69]:
df_best

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,cluster
955,Hi Gerald: We have executed agreements with...,True,23316,21,Re: CA Data Sheet,kay.young@enron.com,gerald.nemec@enron.com,930038100,-1
1580,"G, How is it going? Been a while since we sp...",False,127447,27,,gerald.nemec@enron.com,gtownsend@manorisd.net,934198740,-1
1608,"GT, The theme of the party sounds excellent. ...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934288740,-1
1668,"GT, I will be taking Friday off. Probably dr...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934794240,-1
1867,"G, I will be there about 9 pm tonight. My ce...",True,127447,27,Re:,gerald.nemec@enron.com,gtownsend@manorisd.net,935769600,-1
...,...,...,...,...,...,...,...,...,...
250216,nothing more than what the rags say..............,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023218609,-1
250217,i'm going to las vegas in august for a couple ...,True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219055,-1
250218,My last fun trip was to portland. Going to se...,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023219293,-1
250219,"dude, serious? Portland...portland is soooooo...",True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219865,-1
250221,"I'll work on it. Vegas works, as a start........",True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023220641,-1

In [56]:
df_best[df_best['cluster'] != -1]['Chain'].value_counts()

131203    26
122336     7
125390     5
127857     4
122191     4
129255     3
130920     2
212224     2
130987     2
219868     2
129004     2
125120     2
122292     2
130003     2
124001     2
130453     1
121444     1
124647     1
126965     1
129545     1
130276     1
129318     1
124662     1
126887     1
127175     1
108478     1
128612     1
128525     1
96466      1
130941     1
202347     1
127808     1
111694     1
123544     1
126810     1
218433     1
122161     1
130620     1
128697     1
130942     1
130986     1
200957     1
126676     1
Name: Chain, dtype: int64

In [66]:
df_best['Chain'].max()

219868

In [70]:
df_best.sort_values(by=['Timestamp','Chain'])

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,cluster
955,Hi Gerald: We have executed agreements with...,True,23316,21,Re: CA Data Sheet,kay.young@enron.com,gerald.nemec@enron.com,930038100,-1
1580,"G, How is it going? Been a while since we sp...",False,127447,27,,gerald.nemec@enron.com,gtownsend@manorisd.net,934198740,-1
1608,"GT, The theme of the party sounds excellent. ...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934288740,-1
1668,"GT, I will be taking Friday off. Probably dr...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934794240,-1
1867,"G, I will be there about 9 pm tonight. My ce...",True,127447,27,Re:,gerald.nemec@enron.com,gtownsend@manorisd.net,935769600,-1
...,...,...,...,...,...,...,...,...,...
250216,nothing more than what the rags say..............,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023218609,-1
250217,i'm going to las vegas in august for a couple ...,True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219055,-1
250218,My last fun trip was to portland. Going to se...,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023219293,-1
250219,"dude, serious? Portland...portland is soooooo...",True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219865,-1
250221,"I'll work on it. Vegas works, as a start........",True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023220641,-1

In [71]:
for idx, row in df_best.sort_values(by=['Timestamp','Chain'])[df_best['cluster'] != -1].iterrows():
    print('Chain ID:', f'{row["Chain"]:06d}' ,'Index:', idx)
    print('Subject:', row['Subject'])
    print('Sender:', row['Sender'], 'Recipient: ', row['Recipients'])
    print('Message:',row['Message'])
    print('\n')

Chain ID: 124647 Index: 24123
Subject: Re:
Sender: chris.dorland@enron.com Recipient:  mmolloy@oebi.com
Message: Perhaps...


Chain ID: 130941 Index: 31926
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  shelliott@dttus.com
Message: sure.  maybe.


Chain ID: 130003 Index: 49710
Subject: RE:
Sender: mark.guzman@enron.com Recipient:  katie.trullinger@wfsg.com
Message: So.........


Chain ID: 200957 Index: 50356
Subject: RE: FW: What's up?
Sender: katie.trullinger@wfsg.com Recipient:  mark.guzman@enron.com
Message: Cool.




Chain ID: 130986 Index: 50804
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  val.generes@ac.com
Message: thanks.


Chain ID: 130942 Index: 58487
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  shirley.s.elliott@citicorp.com
Message: d-i-r-t-y


Chain ID: 130003 Index: 59640
Subject: RE:
Sender: mark.guzman@enron.com Recipient:  katie.trullinger@wfsg.com
Message: No.


Chain ID: 128697 Index: 63984
Subject: Re:
Sender: jeff.dasovich@enron.com Recipient:  scottwl@hotmail.com
Message: Sean:  305.5160


Chain ID: 130620 Index: 65321
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  luis.mena@enron.com
Message: mediatrip.com


Chain ID: 122161 Index: 65626
Subject: Re:
Sender: jeffrey.shankman@enron.com Recipient:  alexandra.saler@enron.com
Message: oh.................my...............god..............


Chain ID: 218433 Index: 67266
Subject: Re: testing....
Sender: matt.smith@enron.com Recipient:  kathy.scully@milliman.com
Message: Helloooooooooooooooooooooooooooooooo.................................?


Chain ID: 130920 Index: 67299
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  mmmarcantel@equiva.com
Message: nice.


Chain ID: 126810 Index: 71537
Subject:
Sender: eric.bass@enron.com Recipient:  jason.bass2@compaq.com
Message: http://rcommerce.us.dell.com/rcomm/config.asp?order_code=rcRC968773-52962


Chain ID: 130987 Index: 71590
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  val.generes@accenture.com
Message: 30-40


Chain ID: 219868 Index: 72417
Subject: RE: what doing?
Sender: mark.guzman@enron.com Recipient:  katie.trullinger@wfsg.com
Message: Herro?


Chain ID: 219868 Index: 72419
Subject: RE: what doing?
Sender: katie.trullinger@wfsg.com Recipient:  mark.guzman@enron.com
Message: Hi!




Chain ID: 130920 Index: 74646
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  mmmarcantel@equiva.com
Message: 11


Chain ID: 130987 Index: 77957
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  val.generes@accenture.com
Message: $65


Chain ID: 123544 Index: 80039
Subject: RE:
Sender: beth.cherry@enform.com Recipient:  jason.wolfe@enron.com
Message: http://www.askjesus.org/


Chain ID: 111694 Index: 86383
Subject: RE: Monday
Sender: pyoung@cliverunnells.com Recipient:  tana.jones@enron.com
Message: I shall!!




Chain ID: 127808 Index: 89347
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  hfl@fp.edu
Message: great.


Chain ID: 129004 Index: 91309
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  jilallen@deloitte.com
Message: sure.


Chain ID: 124001 Index: 95973
Subject: Re:
Sender: matthew.lenhart@enron.com Recipient:  bryan.hull@enron.com
Message: trading?
located?


Chain ID: 212224 Index: 102145
Subject: Re: hey
Sender: matthew.lenhart@enron.com Recipient:  stadogb@email.msn.com
Message: shooters.


Chain ID: 212224 Index: 102464
Subject: Re: hey
Sender: matthew.lenhart@enron.com Recipient:  stadogb@email.msn.com
Message: shooters.


Chain ID: 202347 Index: 112864
Subject: Re: Wireless Message
Sender: brad.mckay@enron.com Recipient:  8915473@archwireless.net
Message: 8.41


Chain ID: 128612 Index: 120152
Subject: RE:
Sender: nancy.sellers@robertmondavi.com Recipient:  jeff.dasovich@enron.com
Message: 337-7613




Chain ID: 122292 Index: 121538
Subject: RE:
Sender: amanda.huble@enron.com Recipient:  mike.maggi@enron.com
Message: now?




Chain ID: 122292 Index: 125013
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  amanda.huble@enron.com
Message: 5:00 you?




Chain ID: 096466 Index: 126838
Subject: RE: June 9th
Sender: vtapia@pulsar.com.mx Recipient:  geoff.storey@enron.com
Message:
3 1/2 hours.


Chain ID: 127857 Index: 143366
Subject: RE:
Sender: john.arnold@enron.com Recipient:  houston <.ward@enron.com>
Message: with?




Chain ID: 127857 Index: 148055
Subject: RE:
Sender: john.arnold@enron.com Recipient:  houston <.ward@enron.com>
Message: what's pdx?




Chain ID: 128525 Index: 157084
Subject: RE:
Sender: jeff.dasovich@enron.com Recipient:  karen.denne@enron.com
Message: sigh....




Chain ID: 129545 Index: 158309
Subject: RE:
Sender: john.lavorato@enron.com Recipient:  louise.kitchen@enron.com
Message: NUG?




Chain ID: 108478 Index: 160430
Subject: RE: Meeting with Perfect Commerce
Sender: jeff.dasovich@enron.com Recipient:  cameron@perfect.com
Message: yes, dear.




Chain ID: 121444 Index: 166149
Subject: RE:
Sender: jeff.dasovich@enron.com Recipient:  7409949@skytel.com
Message: yes.




Chain ID: 130453 Index: 171748
Subject: RE:
Sender: matt.smith@enron.com Recipient:  lhazzard@firstam.com
Message: Oouch!




Chain ID: 122191 Index: 173831
Subject: RE:
Sender: john.griffith@enron.com Recipient:  alexandra.villarreal@enron.com
Message: What?




Chain ID: 126965 Index: 173851
Subject: RE:
Sender: erichardson@sarofim.com Recipient:  matthew.lenhart@enron.com
Message: cool.




Chain ID: 129255 Index: 176322
Subject: RE:
Sender: john.arnold@enron.com Recipient:  john.lavorato@enron.com
Message: 3-5




Chain ID: 122191 Index: 177379
Subject: RE:
Sender: john.griffith@enron.com Recipient:  alexandra.villarreal@enron.com
Message: Thanks.


Chain ID: 129255 Index: 178335
Subject: RE:
Sender: john.lavorato@enron.com Recipient:  john.arnold@enron.com
Message: 4-5




Chain ID: 122191 Index: 180494
Subject: RE:
Sender: alexandra.villarreal@enron.com Recipient:  john.griffith@enron.com
Message: what??




Chain ID: 122191 Index: 183068
Subject: RE:
Sender: alexandra.villarreal@enron.com Recipient:  john.griffith@enron.com
Message: i've noticed.




Chain ID: 129004 Index: 188317
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  jilallen@deloitte.com
Message: nope.




Chain ID: 127857 Index: 190331
Subject: RE:
Sender: houston <.ward@enron.com> Recipient:  john.arnold@enron.com
Message: when?



Chain ID: 127857 Index: 190332
Subject: RE:
Sender: john.arnold@enron.com Recipient:  houston <.ward@enron.com>
Message: 4:30ish??




Chain ID: 125390 Index: 193864
Subject: RE:
Sender: frank_telemaque@flexitallic.com Recipient:  dana.davis@enron.com
Message: what.




Chain ID: 124001 Index: 196016
Subject: RE:
Sender: matthew.lenhart@enron.com Recipient:  bryan.hull@enron.com
Message: maybe. why?




Chain ID: 125390 Index: 198400
Subject: RE:
Sender: dana.davis@enron.com Recipient:  frank_telemaque@flexitallic.com
Message: FRANK!!!!!




Chain ID: 130276 Index: 199100
Subject: RE:
Sender: t..lucci@enron.com Recipient:  kltaylor@duke-energy.com
Message: Really!


Chain ID: 129318 Index: 199159
Subject: RE:
Sender: margaret.allen@enron.com Recipient:  john.arnold@enron.com
Message: again, asshole.




Chain ID: 125390 Index: 199279
Subject: RE:
Sender: frank_telemaque@flexitallic.com Recipient:  dana.davis@enron.com
Message: hey,what up.




Chain ID: 125390 Index: 199345
Subject: RE:
Sender: dana.davis@enron.com Recipient:  frank_telemaque@flexitallic.com
Message: Really?





Chain ID: 131203 Index: 200565
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: terrible, yours?




Chain ID: 131203 Index: 200584
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: good.




Chain ID: 129255 Index: 200599
Subject: RE:
Sender: john.arnold@enron.com Recipient:  john.lavorato@enron.com
Message: 5




Chain ID: 131203 Index: 200607
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: whatever.




Chain ID: 131203 Index: 200658
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: why?




Chain ID: 131203 Index: 200791
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: you're cooking?




Chain ID: 131203 Index: 200799
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: that's cute.




Chain ID: 131203 Index: 200852
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: you're cute!




Chain ID: 131203 Index: 201134
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: why?




Chain ID: 131203 Index: 201349
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: right.




Chain ID: 131203 Index: 201403
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: coffee?




Chain ID: 131203 Index: 201801
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: coffee?




Chain ID: 125390 Index: 202665
Subject: RE:
Sender: frank_telemaque@flexitallic.com Recipient:  dana.davis@enron.com
Message: yes.




Chain ID: 131203 Index: 205035
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: thanks!




Chain ID: 131203 Index: 205133
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: whoopie!!!!




Chain ID: 131203 Index: 205236
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: why?  sorry.  :(




Chain ID: 131203 Index: 207109
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: really?




Chain ID: 131203 Index: 207181
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: WHAT??????????




Chain ID: 131203 Index: 207726
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: fine!




Chain ID: 131203 Index: 208955
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: i'm not.




Chain ID: 131203 Index: 209198
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: :(




Chain ID: 131203 Index: 209252
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: you're cute.




Chain ID: 122336 Index: 209652
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: PERFECT...Black Lab???




Chain ID: 125120 Index: 213331
Subject: RE:
Sender: cooper.richey@enron.com Recipient:  jhawker@petersco.com
Message: 9




Chain ID: 124662 Index: 222603
Subject: RE:
Sender: chris.dorland@enron.com Recipient:  rlaird@natsource.ca
Message: cdorland@hotmail.com




Chain ID: 131203 Index: 223127
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: ok, ready?




Chain ID: 131203 Index: 223147
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: yep, soon?




Chain ID: 131203 Index: 223166
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: 5-8091




Chain ID: 131203 Index: 224024
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  michelle.nelson@enron.com
Message: ok




Chain ID: 131203 Index: 229770
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: that's it?




Chain ID: 122336 Index: 229806
Subject: RE:
Sender: mike.maggi@enron.com Recipient:  amanda.rybarski@enron.com
Message: ok




Chain ID: 122336 Index: 231853
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: ooohhh, I'm excited!




Chain ID: 122336 Index: 233030
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: Okay...sounds good!




Chain ID: 122336 Index: 233038
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: what?




Chain ID: 122336 Index: 235544
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: yes, you?




Chain ID: 125120 Index: 235749
Subject: RE:
Sender: cooper.richey@enron.com Recipient:  jhawker@petersco.com
Message: ok, fuckface.




Chain ID: 126887 Index: 237701
Subject:
Sender: eric.bass@enron.com Recipient:  shanna.husser@enron.com
Message: http://breeders.dogbreedinfo.com/index.php?a_id=20020120191036


Chain ID: 122336 Index: 239211
Subject: RE:
Sender: amanda.rybarski@enron.com Recipient:  mike.maggi@enron.com
Message: when?




Chain ID: 131203 Index: 241746
Subject: RE:
Sender: michelle.nelson@enron.com Recipient:  mike.maggi@enron.com
Message: sorry!




Chain ID: 127175 Index: 244551
Subject: RE:
Sender: frank.hayden@enron.com Recipient:  joe.parks@enron.com
Message: Permanently?




Chain ID: 126676 Index: 247515
Subject: RE:
Sender: m..scott@enron.com Recipient:  ehillegeist@hotmail.com
Message: hello?

/tmp/ipykernel_422/2237842456.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  for idx, row in df_best.sort_values(by=['Timestamp','Chain'])[df_best['cluster'] != -1].iterrows():

In [91]:
def print_emails(df):
    for idx, row in df.iterrows():
        print('Chain ID:', f'{row["Chain"]:06d}' ,'Index:', idx)
        print('Date:', datetime.fromtimestamp(row['Timestamp']))
        print('Subject:', row['Subject'])
        print('Sender:', row['Sender'], ', Recipient: ', row['Recipients'])
        print('Message:',row['Message'])
        print('\n')

In [78]:
df_best.groupby('cluster')['Chain'].count()

cluster
-1    5229
 0      93
 1       2
Name: Chain, dtype: int64

In [79]:
df_best.loc[df_best['Chain']==131203,'Chain_len']

173523    798
173526    798
173531    798
173535    798
173538    798
         ...
241753    798
241755    798
241759    798
241761    798
241941    798
Name: Chain_len, Length: 798, dtype: object

In [95]:
df_best.loc[df_best['cluster']==1,'Chain'].value_counts()

131203    1
122336    1
Name: Chain, dtype: int64

In [92]:
print_emails(df_best.loc[df_best['cluster']==1])

Chain ID: 131203 Index: 224024
Date: 2002-01-07 21:54:47
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: ok




Chain ID: 122336 Index: 229806
Date: 2002-01-17 17:36:36
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  amanda.rybarski@enron.com
Message: ok

In [96]:
df_best.loc[df_best['cluster']==0,'Chain'].value_counts()

131203    25
122336     6
125390     5
127857     4
122191     4
129255     3
130920     2
212224     2
130987     2
219868     2
129004     2
125120     2
122292     2
130003     2
124001     2
130453     1
121444     1
124647     1
126965     1
129545     1
130276     1
129318     1
124662     1
126887     1
127175     1
108478     1
128612     1
128525     1
96466      1
130941     1
202347     1
127808     1
111694     1
123544     1
126810     1
218433     1
122161     1
130620     1
128697     1
130942     1
130986     1
200957     1
126676     1
Name: Chain, dtype: int64

In [93]:
print_emails(df_best.loc[df_best['cluster']==0])

Chain ID: 124647 Index: 24123
Date: 2000-07-11 15:14:00
Subject: Re:
Sender: chris.dorland@enron.com , Recipient:  mmolloy@oebi.com
Message: Perhaps...


Chain ID: 130941 Index: 31926
Date: 2000-08-25 16:04:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  shelliott@dttus.com
Message: sure.  maybe.


Chain ID: 130003 Index: 49710
Date: 2000-11-06 11:20:00
Subject: RE:
Sender: mark.guzman@enron.com , Recipient:  katie.trullinger@wfsg.com
Message: So.........


Chain ID: 200957 Index: 50356
Date: 2000-11-07 13:31:00
Subject: RE: FW: What's up?
Sender: katie.trullinger@wfsg.com , Recipient:  mark.guzman@enron.com
Message: Cool.




Chain ID: 130986 Index: 50804
Date: 2000-11-08 13:30:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  val.generes@ac.com
Message: thanks.


Chain ID: 130942 Index: 58487
Date: 2000-11-30 13:33:00
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  shirley.s.elliott@citicorp.com
Message: d-i-r-t-y


Chain ID: 130003 Index: 59640
Date: 2000-12-04 10:48:00
Subject: RE:
Sender: mark.guzman@enron.com , Recipient:  katie.trullinger@wfsg.com
Message: No.


Chain ID: 128697 Index: 63984
Date: 2000-12-12 12:52:00
Subject: Re:
Sender: jeff.dasovich@enron.com , Recipient:  scottwl@hotmail.com
Message: Sean:  305.5160


Chain ID: 130620 Index: 65321
Date: 2000-12-13 17:16:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  luis.mena@enron.com
Message: mediatrip.com


Chain ID: 122161 Index: 65626
Date: 2000-12-14 09:14:00
Subject: Re:
Sender: jeffrey.shankman@enron.com , Recipient:  alexandra.saler@enron.com
Message: oh.................my...............god..............


Chain ID: 218433 Index: 67266
Date: 2000-12-20 13:50:00
Subject: Re: testing....
Sender: matt.smith@enron.com , Recipient:  kathy.scully@milliman.com
Message: Helloooooooooooooooooooooooooooooooo.................................?


Chain ID: 130920 Index: 67299
Date: 2000-12-20 14:55:00
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  mmmarcantel@equiva.com
Message: nice.


Chain ID: 126810 Index: 71537
Date: 2001-01-12 10:12:00
Subject:
Sender: eric.bass@enron.com , Recipient:  jason.bass2@compaq.com
Message: http://rcommerce.us.dell.com/rcomm/config.asp?order_code=rcRC968773-52962


Chain ID: 130987 Index: 71590
Date: 2001-01-12 12:15:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  val.generes@accenture.com
Message: 30-40


Chain ID: 219868 Index: 72417
Date: 2001-01-17 11:43:00
Subject: RE: what doing?
Sender: mark.guzman@enron.com , Recipient:  katie.trullinger@wfsg.com
Message: Herro?


Chain ID: 219868 Index: 72419
Date: 2001-01-17 11:47:00
Subject: RE: what doing?
Sender: katie.trullinger@wfsg.com , Recipient:  mark.guzman@enron.com
Message: Hi!




Chain ID: 130920 Index: 74646
Date: 2001-01-25 08:51:00
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  mmmarcantel@equiva.com
Message: 11


Chain ID: 130987 Index: 77957
Date: 2001-02-06 12:20:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  val.generes@accenture.com
Message: $65


Chain ID: 123544 Index: 80039
Date: 2001-02-13 14:27:00
Subject: RE:
Sender: beth.cherry@enform.com , Recipient:  jason.wolfe@enron.com
Message: http://www.askjesus.org/


Chain ID: 111694 Index: 86383
Date: 2001-03-06 17:48:00
Subject: RE: Monday
Sender: pyoung@cliverunnells.com , Recipient:  tana.jones@enron.com
Message: I shall!!




Chain ID: 127808 Index: 89347
Date: 2001-03-15 12:19:00
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  hfl@fp.edu
Message: great.


Chain ID: 129004 Index: 91309
Date: 2001-03-21 11:47:00
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  jilallen@deloitte.com
Message: sure.


Chain ID: 124001 Index: 95973
Date: 2001-04-03 16:29:00
Subject: Re:
Sender: matthew.lenhart@enron.com , Recipient:  bryan.hull@enron.com
Message: trading?
located?


Chain ID: 212224 Index: 102145
Date: 2001-04-18 12:42:00
Subject: Re: hey
Sender: matthew.lenhart@enron.com , Recipient:  stadogb@email.msn.com
Message: shooters.


Chain ID: 212224 Index: 102464
Date: 2001-04-18 22:42:00
Subject: Re: hey
Sender: matthew.lenhart@enron.com , Recipient:  stadogb@email.msn.com
Message: shooters.


Chain ID: 202347 Index: 112864
Date: 2001-05-09 18:14:00
Subject: Re: Wireless Message
Sender: brad.mckay@enron.com , Recipient:  8915473@archwireless.net
Message: 8.41


Chain ID: 128612 Index: 120152
Date: 2001-05-23 12:06:00
Subject: RE:
Sender: nancy.sellers@robertmondavi.com , Recipient:  jeff.dasovich@enron.com
Message: 337-7613




Chain ID: 122292 Index: 121538
Date: 2001-05-24 23:10:03
Subject: RE:
Sender: amanda.huble@enron.com , Recipient:  mike.maggi@enron.com
Message: now?




Chain ID: 122292 Index: 125013
Date: 2001-05-31 22:40:34
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  amanda.huble@enron.com
Message: 5:00 you?




Chain ID: 096466 Index: 126838
Date: 2001-06-04 19:11:52
Subject: RE: June 9th
Sender: vtapia@pulsar.com.mx , Recipient:  geoff.storey@enron.com
Message:
3 1/2 hours.


Chain ID: 127857 Index: 143366
Date: 2001-07-27 23:19:32
Subject: RE:
Sender: john.arnold@enron.com , Recipient:  houston <.ward@enron.com>
Message: with?




Chain ID: 127857 Index: 148055
Date: 2001-08-16 01:38:30
Subject: RE:
Sender: john.arnold@enron.com , Recipient:  houston <.ward@enron.com>
Message: what's pdx?




Chain ID: 128525 Index: 157084
Date: 2001-09-19 20:14:46
Subject: RE:
Sender: jeff.dasovich@enron.com , Recipient:  karen.denne@enron.com
Message: sigh....




Chain ID: 129545 Index: 158309
Date: 2001-09-24 14:20:50
Subject: RE:
Sender: john.lavorato@enron.com , Recipient:  louise.kitchen@enron.com
Message: NUG?




Chain ID: 108478 Index: 160430
Date: 2001-09-27 19:43:46
Subject: RE: Meeting with Perfect Commerce
Sender: jeff.dasovich@enron.com , Recipient:  cameron@perfect.com
Message: yes, dear.




Chain ID: 121444 Index: 166149
Date: 2001-10-09 18:39:33
Subject: RE:
Sender: jeff.dasovich@enron.com , Recipient:  7409949@skytel.com
Message: yes.




Chain ID: 130453 Index: 171748
Date: 2001-10-17 18:15:56
Subject: RE:
Sender: matt.smith@enron.com , Recipient:  lhazzard@firstam.com
Message: Oouch!




Chain ID: 122191 Index: 173831
Date: 2001-10-18 22:27:31
Subject: RE:
Sender: john.griffith@enron.com , Recipient:  alexandra.villarreal@enron.com
Message: What?




Chain ID: 126965 Index: 173851
Date: 2001-10-18 22:38:14
Subject: RE:
Sender: erichardson@sarofim.com , Recipient:  matthew.lenhart@enron.com
Message: cool.




Chain ID: 129255 Index: 176322
Date: 2001-10-22 14:11:39
Subject: RE:
Sender: john.arnold@enron.com , Recipient:  john.lavorato@enron.com
Message: 3-5




Chain ID: 122191 Index: 177379
Date: 2001-10-22 21:35:28
Subject: RE:
Sender: john.griffith@enron.com , Recipient:  alexandra.villarreal@enron.com
Message: Thanks.


Chain ID: 129255 Index: 178335
Date: 2001-10-23 15:55:02
Subject: RE:
Sender: john.lavorato@enron.com , Recipient:  john.arnold@enron.com
Message: 4-5




Chain ID: 122191 Index: 180494
Date: 2001-10-24 17:58:57
Subject: RE:
Sender: alexandra.villarreal@enron.com , Recipient:  john.griffith@enron.com
Message: what??




Chain ID: 122191 Index: 183068
Date: 2001-10-25 22:07:39
Subject: RE:
Sender: alexandra.villarreal@enron.com , Recipient:  john.griffith@enron.com
Message: i've noticed.




Chain ID: 129004 Index: 188317
Date: 2001-10-30 18:54:45
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  jilallen@deloitte.com
Message: nope.




Chain ID: 127857 Index: 190331
Date: 2001-11-02 15:10:47
Subject: RE:
Sender: houston <.ward@enron.com> , Recipient:  john.arnold@enron.com
Message: when?



Chain ID: 127857 Index: 190332
Date: 2001-11-02 15:12:40
Subject: RE:
Sender: john.arnold@enron.com , Recipient:  houston <.ward@enron.com>
Message: 4:30ish??




Chain ID: 125390 Index: 193864
Date: 2001-11-08 18:27:55
Subject: RE:
Sender: frank_telemaque@flexitallic.com , Recipient:  dana.davis@enron.com
Message: what.




Chain ID: 124001 Index: 196016
Date: 2001-11-13 17:12:12
Subject: RE:
Sender: matthew.lenhart@enron.com , Recipient:  bryan.hull@enron.com
Message: maybe. why?




Chain ID: 125390 Index: 198400
Date: 2001-11-15 21:20:49
Subject: RE:
Sender: dana.davis@enron.com , Recipient:  frank_telemaque@flexitallic.com
Message: FRANK!!!!!




Chain ID: 130276 Index: 199100
Date: 2001-11-16 17:51:50
Subject: RE:
Sender: t..lucci@enron.com , Recipient:  kltaylor@duke-energy.com
Message: Really!


Chain ID: 129318 Index: 199159
Date: 2001-11-16 18:28:26
Subject: RE:
Sender: margaret.allen@enron.com , Recipient:  john.arnold@enron.com
Message: again, asshole.




Chain ID: 125390 Index: 199279
Date: 2001-11-16 20:09:20
Subject: RE:
Sender: frank_telemaque@flexitallic.com , Recipient:  dana.davis@enron.com
Message: hey,what up.




Chain ID: 125390 Index: 199345
Date: 2001-11-16 20:47:43
Subject: RE:
Sender: dana.davis@enron.com , Recipient:  frank_telemaque@flexitallic.com
Message: Really?





Chain ID: 131203 Index: 200565
Date: 2001-11-19 15:41:01
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: terrible, yours?




Chain ID: 131203 Index: 200584
Date: 2001-11-19 15:49:12
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: good.




Chain ID: 129255 Index: 200599
Date: 2001-11-19 15:53:58
Subject: RE:
Sender: john.arnold@enron.com , Recipient:  john.lavorato@enron.com
Message: 5




Chain ID: 131203 Index: 200607
Date: 2001-11-19 15:55:52
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: whatever.




Chain ID: 131203 Index: 200658
Date: 2001-11-19 16:16:43
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?




Chain ID: 131203 Index: 200791
Date: 2001-11-19 16:56:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cooking?




Chain ID: 131203 Index: 200799
Date: 2001-11-19 16:59:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: that's cute.




Chain ID: 131203 Index: 200852
Date: 2001-11-19 17:15:09
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cute!




Chain ID: 131203 Index: 201134
Date: 2001-11-19 18:42:00
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?




Chain ID: 131203 Index: 201349
Date: 2001-11-19 20:19:29
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: right.




Chain ID: 131203 Index: 201403
Date: 2001-11-19 20:42:06
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: coffee?




Chain ID: 131203 Index: 201801
Date: 2001-11-19 22:52:15
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: coffee?




Chain ID: 125390 Index: 202665
Date: 2001-11-20 16:18:07
Subject: RE:
Sender: frank_telemaque@flexitallic.com , Recipient:  dana.davis@enron.com
Message: yes.




Chain ID: 131203 Index: 205035
Date: 2001-11-21 19:22:48
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: thanks!




Chain ID: 131203 Index: 205133
Date: 2001-11-21 20:03:58
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: whoopie!!!!




Chain ID: 131203 Index: 205236
Date: 2001-11-21 21:03:11
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?  sorry.  :(




Chain ID: 131203 Index: 207109
Date: 2001-11-26 17:07:57
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: really?




Chain ID: 131203 Index: 207181
Date: 2001-11-26 17:28:47
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: WHAT??????????




Chain ID: 131203 Index: 207726
Date: 2001-11-26 21:08:50
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: fine!




Chain ID: 131203 Index: 208955
Date: 2001-11-27 16:36:04
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: i'm not.




Chain ID: 131203 Index: 209198
Date: 2001-11-27 17:57:30
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: :(




Chain ID: 131203 Index: 209252
Date: 2001-11-27 18:16:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cute.




Chain ID: 122336 Index: 209652
Date: 2001-11-27 20:42:17
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: PERFECT...Black Lab???




Chain ID: 125120 Index: 213331
Date: 2001-12-06 15:50:56
Subject: RE:
Sender: cooper.richey@enron.com , Recipient:  jhawker@petersco.com
Message: 9




Chain ID: 124662 Index: 222603
Date: 2002-01-03 20:36:23
Subject: RE:
Sender: chris.dorland@enron.com , Recipient:  rlaird@natsource.ca
Message: cdorland@hotmail.com




Chain ID: 131203 Index: 223127
Date: 2002-01-04 21:10:13
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: ok, ready?




Chain ID: 131203 Index: 223147
Date: 2002-01-04 21:28:01
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: yep, soon?




Chain ID: 131203 Index: 223166
Date: 2002-01-04 21:41:31
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: 5-8091




Chain ID: 131203 Index: 229770
Date: 2002-01-17 17:11:16
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: that's it?




Chain ID: 122336 Index: 231853
Date: 2002-01-22 20:27:07
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: ooohhh, I'm excited!




Chain ID: 122336 Index: 233030
Date: 2002-01-24 16:49:58
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: Okay...sounds good!




Chain ID: 122336 Index: 233038
Date: 2002-01-24 16:52:05
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: what?




Chain ID: 122336 Index: 235544
Date: 2002-01-29 19:09:59
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: yes, you?




Chain ID: 125120 Index: 235749
Date: 2002-01-29 22:09:31
Subject: RE:
Sender: cooper.richey@enron.com , Recipient:  jhawker@petersco.com
Message: ok, fuckface.




Chain ID: 126887 Index: 237701
Date: 2002-01-30 21:32:34
Subject:
Sender: eric.bass@enron.com , Recipient:  shanna.husser@enron.com
Message: http://breeders.dogbreedinfo.com/index.php?a_id=20020120191036


Chain ID: 122336 Index: 239211
Date: 2002-02-01 18:52:36
Subject: RE:
Sender: amanda.rybarski@enron.com , Recipient:  mike.maggi@enron.com
Message: when?




Chain ID: 131203 Index: 241746
Date: 2002-02-06 16:58:53
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: sorry!




Chain ID: 127175 Index: 244551
Date: 2002-02-22 23:16:02
Subject: RE:
Sender: frank.hayden@enron.com , Recipient:  joe.parks@enron.com
Message: Permanently?




Chain ID: 126676 Index: 247515
Date: 2002-03-19 19:39:41
Subject: RE:
Sender: m..scott@enron.com , Recipient:  ehillegeist@hotmail.com
Message: hello?

In [76]:
for idx, row in df_best.sort_values(by=['Timestamp','Chain']).loc[(df_best['Chain'] == 131203) &(df_best['cluster'] != -1),:].iterrows():
    print('Chain ID:', f'{row["Chain"]:06d}' ,'Index:', idx)
    print('Date:', datetime.fromtimestamp(row['Timestamp']))
    print('Subject:', row['Subject'])
    print('Sender:', row['Sender'], ', Recipient: ', row['Recipients'])
    print('Message:',row['Message'])

Chain ID: 131203 Index: 200565
Date: 2001-11-19 15:41:01
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: terrible, yours?


Chain ID: 131203 Index: 200584
Date: 2001-11-19 15:49:12
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: good.


Chain ID: 131203 Index: 200607
Date: 2001-11-19 15:55:52
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: whatever.


Chain ID: 131203 Index: 200658
Date: 2001-11-19 16:16:43
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?


Chain ID: 131203 Index: 200791
Date: 2001-11-19 16:56:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cooking?


Chain ID: 131203 Index: 200799
Date: 2001-11-19 16:59:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: that's cute.


Chain ID: 131203 Index: 200852
Date: 2001-11-19 17:15:09
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cute!


Chain ID: 131203 Index: 201134
Date: 2001-11-19 18:42:00
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?


Chain ID: 131203 Index: 201349
Date: 2001-11-19 20:19:29
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: right.


Chain ID: 131203 Index: 201403
Date: 2001-11-19 20:42:06
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: coffee?


Chain ID: 131203 Index: 201801
Date: 2001-11-19 22:52:15
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: coffee?


Chain ID: 131203 Index: 205035
Date: 2001-11-21 19:22:48
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: thanks!


Chain ID: 131203 Index: 205133
Date: 2001-11-21 20:03:58
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: whoopie!!!!


Chain ID: 131203 Index: 205236
Date: 2001-11-21 21:03:11
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: why?  sorry.  :(


Chain ID: 131203 Index: 207109
Date: 2001-11-26 17:07:57
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: really?


Chain ID: 131203 Index: 207181
Date: 2001-11-26 17:28:47
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: WHAT??????????


Chain ID: 131203 Index: 207726
Date: 2001-11-26 21:08:50
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: fine!


Chain ID: 131203 Index: 208955
Date: 2001-11-27 16:36:04
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: i'm not.


Chain ID: 131203 Index: 209198
Date: 2001-11-27 17:57:30
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: :(


Chain ID: 131203 Index: 209252
Date: 2001-11-27 18:16:32
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: you're cute.


Chain ID: 131203 Index: 223127
Date: 2002-01-04 21:10:13
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: ok, ready?


Chain ID: 131203 Index: 223147
Date: 2002-01-04 21:28:01
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: yep, soon?


Chain ID: 131203 Index: 223166
Date: 2002-01-04 21:41:31
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: 5-8091


Chain ID: 131203 Index: 224024
Date: 2002-01-07 21:54:47
Subject: RE:
Sender: mike.maggi@enron.com , Recipient:  michelle.nelson@enron.com
Message: ok


Chain ID: 131203 Index: 229770
Date: 2002-01-17 17:11:16
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: that's it?


Chain ID: 131203 Index: 241746
Date: 2002-02-06 16:58:53
Subject: RE:
Sender: michelle.nelson@enron.com , Recipient:  mike.maggi@enron.com
Message: sorry!

In [49]:
labs_array

array([-1, -1, -1, ..., -1, -1, -1], dtype=int32)

In [41]:
results_all[dat]['SL']

{0:                                                   Message  Reply   Chain  \
 955     Hi Gerald:  We have  executed agreements  with...   True   23316
 1580    G,  How is it going?  Been a while since we sp...  False  127447
 1608    GT,  The theme of the party sounds excellent. ...   True  127447
 1668    GT,  I will be taking Friday off.  Probably dr...   True  127447
 1867    G,  I will be there about 9 pm tonight.  My ce...   True  127447
 ...                                                   ...    ...     ...
 250216  nothing more than what the rags say..............   True  104153
 250217  i'm going to las vegas in august for a couple ...   True  104153
 250218  My last fun trip was to portland.  Going to se...   True  104153
 250219  dude, serious?  Portland...portland is soooooo...   True  104153
 250221  I'll work on it.  Vegas works, as a start........   True  104153

        Chain_len             Subject                  Sender  \
 955           21   Re: CA Data Sheet     kay.young@enron.com
 1580          27                      gerald.nemec@enron.com
 1608          27                 RE:  gerald.nemec@enron.com
 1668          27                 RE:  gerald.nemec@enron.com
 1867          27                 Re:  gerald.nemec@enron.com
 ...          ...                 ...                     ...
 250216        10  RE: MID C Question   doug.sewell@enron.com
 250217        10  RE: MID C Question     lisa.gang@enron.com
 250218        10  RE: MID C Question   doug.sewell@enron.com
 250219        10  RE: MID C Question     lisa.gang@enron.com
 250221        10  RE: MID C Question   doug.sewell@enron.com

                     Recipients   Timestamp  label
 955     gerald.nemec@enron.com   930038100     -1
 1580    gtownsend@manorisd.net   934198740     -1
 1608    gtownsend@manorisd.net   934288740     -1
 1668    gtownsend@manorisd.net   934794240     -1
 1867    gtownsend@manorisd.net   935769600     -1
 ...                        ...         ...    ...
 250216     lisa.gang@enron.com  1023218609     -1
 250217   doug.sewell@enron.com  1023219055     -1
 250218     lisa.gang@enron.com  1023219293     -1
 250219   doug.sewell@enron.com  1023219865     -1
 250221     lisa.gang@enron.com  1023220641     -1

 [5324 rows x 9 columns],
 1:                                                   Message  Reply   Chain  \
 955     Hi Gerald:  We have  executed agreements  with...   True   23316
 1580    G,  How is it going?  Been a while since we sp...  False  127447
 1608    GT,  The theme of the party sounds excellent. ...   True  127447
 1668    GT,  I will be taking Friday off.  Probably dr...   True  127447
 1867    G,  I will be there about 9 pm tonight.  My ce...   True  127447
 ...                                                   ...    ...     ...
 250216  nothing more than what the rags say..............   True  104153
 250217  i'm going to las vegas in august for a couple ...   True  104153
 250218  My last fun trip was to portland.  Going to se...   True  104153
 250219  dude, serious?  Portland...portland is soooooo...   True  104153
 250221  I'll work on it.  Vegas works, as a start........   True  104153

        Chain_len             Subject                  Sender  \
 955           21   Re: CA Data Sheet     kay.young@enron.com
 1580          27                      gerald.nemec@enron.com
 1608          27                 RE:  gerald.nemec@enron.com
 1668          27                 RE:  gerald.nemec@enron.com
 1867          27                 Re:  gerald.nemec@enron.com
 ...          ...                 ...                     ...
 250216        10  RE: MID C Question   doug.sewell@enron.com
 250217        10  RE: MID C Question     lisa.gang@enron.com
 250218        10  RE: MID C Question   doug.sewell@enron.com
 250219        10  RE: MID C Question     lisa.gang@enron.com
 250221        10  RE: MID C Question   doug.sewell@enron.com

                     Recipients   Timestamp  label
 955     gerald.nemec@enron.com   930038100      1
 1580    gtownsend@manorisd.net   934198740      1
 1608    gtownsend@manorisd.net   934288740      1
 1668    gtownsend@manorisd.net   934794240      1
 1867    gtownsend@manorisd.net   935769600      1
 ...                        ...         ...    ...
 250216     lisa.gang@enron.com  1023218609      1
 250217   doug.sewell@enron.com  1023219055      1
 250218     lisa.gang@enron.com  1023219293      1
 250219   doug.sewell@enron.com  1023219865      1
 250221     lisa.gang@enron.com  1023220641      1

 [5324 rows x 9 columns],
 2:                                                   Message  Reply   Chain  \
 955     Hi Gerald:  We have  executed agreements  with...   True   23316
 1580    G,  How is it going?  Been a while since we sp...  False  127447
 1608    GT,  The theme of the party sounds excellent. ...   True  127447
 1668    GT,  I will be taking Friday off.  Probably dr...   True  127447
 1867    G,  I will be there about 9 pm tonight.  My ce...   True  127447
 ...                                                   ...    ...     ...
 250216  nothing more than what the rags say..............   True  104153
 250217  i'm going to las vegas in august for a couple ...   True  104153
 250218  My last fun trip was to portland.  Going to se...   True  104153
 250219  dude, serious?  Portland...portland is soooooo...   True  104153
 250221  I'll work on it.  Vegas works, as a start........   True  104153

        Chain_len             Subject                  Sender  \
 955           21   Re: CA Data Sheet     kay.young@enron.com
 1580          27                      gerald.nemec@enron.com
 1608          27                 RE:  gerald.nemec@enron.com
 1668          27                 RE:  gerald.nemec@enron.com
 1867          27                 Re:  gerald.nemec@enron.com
 ...          ...                 ...                     ...
 250216        10  RE: MID C Question   doug.sewell@enron.com
 250217        10  RE: MID C Question     lisa.gang@enron.com
 250218        10  RE: MID C Question   doug.sewell@enron.com
 250219        10  RE: MID C Question     lisa.gang@enron.com
 250221        10  RE: MID C Question   doug.sewell@enron.com

                     Recipients   Timestamp  label
 955     gerald.nemec@enron.com   930038100     -1
 1580    gtownsend@manorisd.net   934198740     -1
 1608    gtownsend@manorisd.net   934288740     -1
 1668    gtownsend@manorisd.net   934794240     -1
 1867    gtownsend@manorisd.net   935769600     -1
 ...                        ...         ...    ...
 250216     lisa.gang@enron.com  1023218609     -1
 250217   doug.sewell@enron.com  1023219055     -1
 250218     lisa.gang@enron.com  1023219293     -1
 250219   doug.sewell@enron.com  1023219865     -1
 250221     lisa.gang@enron.com  1023220641     -1

 [5324 rows x 9 columns]}

In [37]:
tmp = results['chains_eq_2'][0]

KeyError: 'chains_eq_2'

In [18]:
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
144,Wish we could go - but we're off to Ft. Lauder...,True,75963,2,Re: Friday,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,909762180,1
145,Hey Marc - any chance you guys might like to j...,True,75963,2,Re: Friday,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,909762960,1
157,This message was returned to me - it looks lik...,False,192107,2,Undeliverable message,mark.taylor@enron.com,per.sekse@enron.com,910973340,1
158,I think you can go straight to performance rev...,True,192107,2,Re: Undeliverable message,mark.taylor@enron.com,per.sekse@enron.com,911468460,1
165,Anita:\n\nI seem to remember that our traders ...,False,98742,2,LNG hedging for China,mark.taylor@enron.com,anita.fam@enron.com,911501880,0
...,...,...,...,...,...,...,...,...,...
250917,"Jeff,\n\nThe files are in DesertSkyCurtail in ...",False,107371,2,May curtailment spread,mark.fisher@enron.com,jeff.duff@enron.com,1025701860,0
250920,"Mark,\n\nI checked the sums with what was sent...",True,107371,2,Re: May curtailment spread,jeff.duff@enron.com,mark.fisher@enron.com,1025704560,1
250970,"Tim,\n\nIn Oct 2001 I produced the attached re...",False,74063,2,Fluvanna and Trew Ranch reports,mark.fisher@enron.com,"tim.derrick@enron.com, jeff.duff@enron.com, je...",1026400320,1
250971,"Thanks. I will use this report, and we should...",True,74063,2,Re: Fluvanna and Trew Ranch reports,tim.derrick@enron.com,"mark.fisher@enron.com, jeff.duff@enron.com, je...",1026403800,1
251066,"\nBOM 5th to 31st traded 34, 33.5 , 33.5 and ...",False,187755,2,Trades,cramer@cadvision.com,john.zufferli@enron.com,2335539586,1

In [19]:
tmp = results['chains_eq_2'][1]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
784,Thank you for your help. I look forward to he...,True,209486,2,RE: derivatives documentation software,tana.jones@enron.com,ian.howells@documentum.com,928482540,0
1336,Of all the weekends---Doug's and our family ar...,True,93957,2,Re: Is anyone using the Perd the weekend of 8/...,richard.sanders@enron.com,"mrmslane@aol.com, namuathome@aol.com, namuatho...",933001800,0
2179,Do you want to set up a time to meet tomorrow?...,False,190057,2,Tuesday Meeting,mark.taylor@enron.com,mark.dilworth@enron.com,937246140,0
3599,I'll be happy to schedule him. What do you think?,True,117527,2,Re: Neil Mayer,richard.sanders@enron.com,julia.murray@enron.com,943281420,0
4089,$575k,True,84439,2,Re: Havamann Arbitration PRIVILEGED AND CONFID...,richard.sanders@enron.com,john.nowlan@enron.com,945155460,1
...,...,...,...,...,...,...,...,...,...
246817,FYI...\n\n,False,15992,2,FW: Assignments for March 23,john.watson@pdq.net,kimberly.watson@enron.com,1015950664,1
247669,Cool.\n\n,True,49462,2,RE: Dominion Transmission Notices,chris.germany@enron.com,kathryn.bussell@enron.com,1016652403,1
249374,IN? WHEN?\n\n,True,213777,2,RE: man night again?,joe.parks@enron.com,"brianc@saltgrass.com, erwollam@hotmail.com, bc...",1020173281,1
249960,http://hometown.aol.com/trogg522/myhomepage/in...,False,43396,2,Daddy's little Angel,chris.germany@enron.com,jfoard@coral-energy.com,1022245763,1
250209,Thanks.\n\n,True,104155,2,RE: MID C Question,steven.luong@enron.com,lisa.gang@enron.com,1023216641,1

In [20]:
tmp = results['chains_eq_3'][0]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
142,"\nHey Paul, how is it going?? Attached you'll...",False,87415,3,How are you?,educanto@msn.com,d..thomas@enron.com,883935960,0
421,"Maria,\n\nThe Clearing docs we got in from the...",True,49280,3,Re: Documentation from OM,mark.elliott@enron.com,"maria.nartey@enron.com, richard.sage@enron.com...",925474740,0
424,"Mark,\n\nDoes this mean that you would prefer ...",True,49280,3,Re: Documentation from OM,maria.nartey@enron.com,"mark.elliott@enron.com, richard.sage@enron.com...",925482120,0
425,"Maria,\n\nNot necessarily - it is just that th...",True,49280,3,Re: Documentation from OM,mark.elliott@enron.com,"maria.nartey@enron.com, richard.sage@enron.com...",925485840,0
503,Wow - that is one nasty looking storm out ther...,False,112512,3,Morning!,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,926502600,0
...,...,...,...,...,...,...,...,...,...
250676,She is going to print all the Appalachian Prod...,True,16029,3,RE: Assistant to print contracts,chris.germany@enron.com,"ed.mcmichael@enron.com, ruth.concannon@enron.com",1024576950,0
250686,OK to both. Let's use Heather Choate too if i...,True,16029,3,RE: Assistant to print contracts,ed.mcmichael@enron.com,"chris.germany@enron.com, ruth.concannon@enron.com",1024588182,0
250700,does that mean i need to cover\n \n\n,True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602537,0
250703,9369 TOMORROW\n\n,True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602851,0
250705,"CHANGE YOUR FONT, ITS FAGGIE\n\n",True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602963,0

In [21]:
tmp = results['chains_eq_3'][1]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
142,"\nHey Paul, how is it going?? Attached you'll...",False,87415,3,How are you?,educanto@msn.com,d..thomas@enron.com,883935960,0
421,"Maria,\n\nThe Clearing docs we got in from the...",True,49280,3,Re: Documentation from OM,mark.elliott@enron.com,"maria.nartey@enron.com, richard.sage@enron.com...",925474740,0
424,"Mark,\n\nDoes this mean that you would prefer ...",True,49280,3,Re: Documentation from OM,maria.nartey@enron.com,"mark.elliott@enron.com, richard.sage@enron.com...",925482120,0
425,"Maria,\n\nNot necessarily - it is just that th...",True,49280,3,Re: Documentation from OM,mark.elliott@enron.com,"maria.nartey@enron.com, richard.sage@enron.com...",925485840,0
503,Wow - that is one nasty looking storm out ther...,False,112512,3,Morning!,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,926502600,0
...,...,...,...,...,...,...,...,...,...
250676,She is going to print all the Appalachian Prod...,True,16029,3,RE: Assistant to print contracts,chris.germany@enron.com,"ed.mcmichael@enron.com, ruth.concannon@enron.com",1024576950,0
250686,OK to both. Let's use Heather Choate too if i...,True,16029,3,RE: Assistant to print contracts,ed.mcmichael@enron.com,"chris.germany@enron.com, ruth.concannon@enron.com",1024588182,0
250700,does that mean i need to cover\n \n\n,True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602537,0
250703,9369 TOMORROW\n\n,True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602851,0
250705,"CHANGE YOUR FONT, ITS FAGGIE\n\n",True,80624,3,RE: Go Baby!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1024602963,0

In [22]:
tmp = results['chains_eq_3'][2]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
508,713-853-7459,True,112512,3,Re: Morning!,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,926513940,0
7314,Who's Dana?,True,56107,3,Re: EOL Credit Responses 2/2,tana.jones@enron.com,leslie.hansen@enron.com,949680720,0
12044,O.K. Don't forget!!\n\n,True,164027,3,Re: Saturday Breakfast,pyoung@pdq.net,tana.jones@enron.com,954509640,0
37844,503-464-3740,True,45105,3,Re: Deals #417310 & #417311,mark.guzman@enron.com,kimberly.hundl@enron.com,969522000,0
39459,vkamins@enron.com\n\nvkaminski@aol.com,False,131437,3,,vince.kaminski@enron.com,phil.sisneros@enron.com,970066800,0
...,...,...,...,...,...,...,...,...,...
245587,"Metamucil, baby!\n\n",True,6759,3,RE: A PREVIEW OF COMING ATTRACTIONS,chet_fenner@bmc.com,joe.parks@enron.com,1014996627,0
245991,>,False,30867,3,Centana Letter Agreement.DOC,sproctor@akllp.com,joe.parks@enron.com,1015350736,0
246930,WHat?\n\n,True,94117,3,RE: It's Happening!,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1016028995,0
248301,"Doug, money! yes?",False,51146,3,Duke Field Services,joe.parks@enron.com,doug.sewell@enron.com,1017243513,0
250573,what's up?\n\n,True,130477,3,RE:,virginia.thompson@enron.com,lisa.gang@enron.com,1024351278,0

In [23]:
tmp = results['chains_ge_4_lt_10'][0]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
302,Are you guys around this weekend? Any particu...,False,199022,4,Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918222960,0
303,I'm flying solo this weekend. No particular p...,True,199022,4,Re: Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918225720,0
305,"Happy hour with staff, not family :-(",True,199022,4,Re: Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918234000,0
462,not a thing yet,True,69384,7,Re: Exxon,elizabeth.sager@enron.com,john.malowney@enron.com,926337960,0
604,sorry to say but I haven't heard a thing,True,69384,7,Re: Exxon,elizabeth.sager@enron.com,john.malowney@enron.com,927200280,0
...,...,...,...,...,...,...,...,...,...
250874,Good point. That will be good time to come in...,True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025035400,0
250875,"Wooo, what a day! Blood-red screen, except fo...",True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025035638,0
250876,its called liquidation\n\n,True,203187,4,RE: YOU CAN THANK ME LATER,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1025035715,0
250879,"Si, Se?or Paras!\n\n \n\n",True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025036494,1
250882,"you will want to cover arround 85.71, which sh...",True,203187,4,RE: YOU CAN THANK ME LATER,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1025041198,0

In [24]:
tmp = results['chains_ge_4_lt_10'][1]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
302,Are you guys around this weekend? Any particu...,False,199022,4,Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918222960,0
303,I'm flying solo this weekend. No particular p...,True,199022,4,Re: Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918225720,0
305,"Happy hour with staff, not family :-(",True,199022,4,Re: Weekend,mark.taylor@enron.com,marc.r.cutler@bankamerica.com,918234000,0
462,not a thing yet,True,69384,7,Re: Exxon,elizabeth.sager@enron.com,john.malowney@enron.com,926337960,0
604,sorry to say but I haven't heard a thing,True,69384,7,Re: Exxon,elizabeth.sager@enron.com,john.malowney@enron.com,927200280,0
...,...,...,...,...,...,...,...,...,...
250874,Good point. That will be good time to come in...,True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025035400,0
250875,"Wooo, what a day! Blood-red screen, except fo...",True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025035638,0
250876,its called liquidation\n\n,True,203187,4,RE: YOU CAN THANK ME LATER,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1025035715,0
250879,"Si, Se?or Paras!\n\n \n\n",True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025036494,0
250882,"you will want to cover arround 85.71, which sh...",True,203187,4,RE: YOU CAN THANK ME LATER,joe.parks@enron.com,"'fenner@enron.com, chet_fenner@bmc.com",1025041198,0

In [25]:
tmp = results['chains_ge_4_lt_10'][2]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
11343,michaelpshannon@yahoo.com,True,123037,5,Re:,benjamin.rogers@enron.com,brandon.neff@enron.com,953893500,0
14882,http://www.lonestarford.com/newcars/expedition...,False,131016,4,,mike.carson@enron.com,mcarson@gtemail.net,956919300,0
21849,Weasel!!,True,121380,4,Re:,benjamin.rogers@enron.com,7028587@skytel.com,962005560,0
28491,Thanks!,True,123326,4,Re:,benjamin.rogers@enron.com,jonathan.hoff@enron.com,965724480,0
33998,37176,True,130927,6,Re:,matthew.lenhart@enron.com,paul.lucci@enron.com,968165640,0
...,...,...,...,...,...,...,...,...,...
247810,:-)\n\n,True,32686,6,RE: Citrix application?,jimmy.manguba@enron.com,chris.germany@enron.com,1016728973,0
248442,I'm LOOOOOKING!!!!\n\n,True,150570,4,RE: Questions We Need Dominion To Answer,chris.germany@enron.com,sproctor@akllp.com,1017430736,0
250606,http://bible.gospelcom.net/,False,124830,4,,chris.germany@enron.com,trogg522@aol.com,1024425791,0
250704,TOMARROW.\n\n \n\n,True,80625,4,RE: Go Baby!,chet_fenner@bmc.com,joe.parks@enron.com,1024602900,0
250879,"Si, Se?or Paras!\n\n \n\n",True,203188,6,RE: YOU CAN THANK ME LATER,chet_fenner@bmc.com,joe.parks@enron.com,1025036494,0

In [26]:
tmp = results['chains_ge_10'][0]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
24123,Perhaps...,True,124647,30,Re:,chris.dorland@enron.com,mmolloy@oebi.com,963321240,0
31926,sure. maybe.,True,130941,28,Re:,matthew.lenhart@enron.com,shelliott@dttus.com,967212240,0
49710,So.........,True,130003,48,RE:,mark.guzman@enron.com,katie.trullinger@wfsg.com,973506000,0
50356,Cool.\n\n,True,200957,12,RE: FW: What's up?,katie.trullinger@wfsg.com,mark.guzman@enron.com,973600260,0
50804,thanks.,True,130986,13,Re:,matthew.lenhart@enron.com,val.generes@ac.com,973686600,0
...,...,...,...,...,...,...,...,...,...
237701,http://breeders.dogbreedinfo.com/index.php?a_i...,False,126887,41,,eric.bass@enron.com,shanna.husser@enron.com,1012422754,0
239211,when?\n\n,True,122336,233,RE:,amanda.rybarski@enron.com,mike.maggi@enron.com,1012585956,0
241746,sorry!\n\n,True,131203,798,RE:,michelle.nelson@enron.com,mike.maggi@enron.com,1013011133,0
244551,Permanently?\n\n,True,127175,36,RE:,frank.hayden@enron.com,joe.parks@enron.com,1014416162,0
247515,hello?\n,True,126676,35,RE:,m..scott@enron.com,ehillegeist@hotmail.com,1016563181,0

In [27]:
tmp = results['chains_ge_10'][1]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
24123,Perhaps...,True,124647,30,Re:,chris.dorland@enron.com,mmolloy@oebi.com,963321240,0
31926,sure. maybe.,True,130941,28,Re:,matthew.lenhart@enron.com,shelliott@dttus.com,967212240,0
49710,So.........,True,130003,48,RE:,mark.guzman@enron.com,katie.trullinger@wfsg.com,973506000,0
50356,Cool.\n\n,True,200957,12,RE: FW: What's up?,katie.trullinger@wfsg.com,mark.guzman@enron.com,973600260,0
50804,thanks.,True,130986,13,Re:,matthew.lenhart@enron.com,val.generes@ac.com,973686600,0
...,...,...,...,...,...,...,...,...,...
237701,http://breeders.dogbreedinfo.com/index.php?a_i...,False,126887,41,,eric.bass@enron.com,shanna.husser@enron.com,1012422754,0
239211,when?\n\n,True,122336,233,RE:,amanda.rybarski@enron.com,mike.maggi@enron.com,1012585956,0
241746,sorry!\n\n,True,131203,798,RE:,michelle.nelson@enron.com,mike.maggi@enron.com,1013011133,0
244551,Permanently?\n\n,True,127175,36,RE:,frank.hayden@enron.com,joe.parks@enron.com,1014416162,0
247515,hello?\n,True,126676,35,RE:,m..scott@enron.com,ehillegeist@hotmail.com,1016563181,0

In [47]:
tmp = results['chains_ge_10'][2]
tmp[tmp['label'] > -1]

,Message,Reply,Chain,Chain_len,Subject,Sender,Recipients,Timestamp,label
955,Hi Gerald: We have executed agreements with...,True,23316,21,Re: CA Data Sheet,kay.young@enron.com,gerald.nemec@enron.com,930038100,0
1580,"G, How is it going? Been a while since we sp...",False,127447,27,,gerald.nemec@enron.com,gtownsend@manorisd.net,934198740,0
1608,"GT, The theme of the party sounds excellent. ...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934288740,0
1668,"GT, I will be taking Friday off. Probably dr...",True,127447,27,RE:,gerald.nemec@enron.com,gtownsend@manorisd.net,934794240,0
1867,"G, I will be there about 9 pm tonight. My ce...",True,127447,27,Re:,gerald.nemec@enron.com,gtownsend@manorisd.net,935769600,0
...,...,...,...,...,...,...,...,...,...
250216,nothing more than what the rags say..............,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023218609,0
250217,i'm going to las vegas in august for a couple ...,True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219055,0
250218,My last fun trip was to portland. Going to se...,True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023219293,0
250219,"dude, serious? Portland...portland is soooooo...",True,104153,10,RE: MID C Question,lisa.gang@enron.com,doug.sewell@enron.com,1023219865,0
250221,"I'll work on it. Vegas works, as a start........",True,104153,10,RE: MID C Question,doug.sewell@enron.com,lisa.gang@enron.com,1023220641,0

In [150]:
email_dir = Path(Path.cwd().parent, Path('data/raw/maildir'))
data_dir = Path(Path.cwd().parent, Path('data/interim'))


def parse_emails(path):
    with open(path, 'r', encoding='windows-1252') as f:
        parsed_email = email.message_from_file(f)
    return parsed_email


def get_parsed_emails(paths):
    emails = []
    for i, path in enumerate(paths):
        eml = parse_emails(path)
        tms = int(parse(eml['Date']).timestamp())
        emails.append((i, eml, tms))
    return emails


def get_parsed_emails(paths, dic=None):
    for path in paths:
        eml = parse_emails(path)
        temp = {k:v for k, v in eml.items() + [('Message', eml.get_payload()), ('Timestamp', int(parse(eml['Date']).timestamp()))]}
        for k,v in dic.items():
            dic[k].append(temp.get(k))
    return dic


def remove_spaces(string):
    if string is not None:        
        string = re.sub('\s+', ' ', string)
        string = string.split(', ')
    return string


def get_chain(data):
    df_ = data.loc[:, ['key', 'Timestamp', 'Reply']].sort_values(by=['key', 'Reply', 'Timestamp'])
    chains = {}
    counter = 0
    for idx, row in df_.iterrows():
        key = f"{row['key']}_{counter:03d}"
        if key not in chains:
            counter = 0
            key = f"{row['key']}_{counter:03d}"
            chains[key] = {'length': 1, 'email_ids': [idx]}
        else:
            if row['Reply']:
                chains[key]['length'] += 1
                chains[key]['email_ids'].append(idx)
            else:
                counter += 1
                key = f"{row['key']}_{counter:03d}"
                chains[key] = {'length': 1, 'email_ids': [idx]}

    chains_new = {}
    for i, row in enumerate(chains):
        chains_new[i] = {'chain_id': row} | chains[row]

    return chains_new


def get_longest_chain(chain):
    MAX = 0
    longest_chain = []
    for k, v in chain.items():
        if v['length'] > MAX:
            MAX = v['length']
            longest_chain = (k, v['length'], v['email_ids'])
        elif v['length'] == MAX:
            if isinstance(longest_chain, tuple):
                longest_chain = [longest_chain, (k, v['length'] ,v['email_ids'])]
            else:
                longest_chain.append((k, v['length'] ,v['email_ids']))
        
    return longest_chain


def assign_chain_id(data, chain):
    data.loc[:,'Chain'] = None
    data.loc[:,'Chain_len'] = None
    for k,v in chain.items():
        data.loc[v['email_ids'], 'Chain'] = k
        data.loc[v['email_ids'], 'Chain_len'] = int(v['length'])

In [151]:
clean_emails = []
for path in email_dir.rglob('*.'):
    if 'all_documents' not in str(path.parent) and 'discussion_threads' not in str(path.parent):
        clean_emails.append(path)
email_dict = {
    'Message-ID': [],
    'Date': [],
    'From': [],
    'To': [],
    'Subject': [],
    'Cc': [],
    'Mime-Version': [],
    'Content-Type': [],
    'Content-Transfer-Encoding': [],
    'Bcc': [],
    'X-From': [],
    'X-To': [],
    'X-cc': [],
    'X-bcc': [],
    'X-Folder': [],
    'X-Origin': [],
    'X-FileName': [],
    'Message': [],
    'Timestamp': []
}
df = pd.DataFrame(get_parsed_emails(clean_emails, email_dict))

In [152]:
df

,Message-ID,Date,From,To,Subject,Cc,Mime-Version,Content-Type,Content-Transfer-Encoding,Bcc,X-From,X-To,X-cc,X-bcc,X-Folder,X-Origin,X-FileName,Message,Timestamp
0,<32259334.1075852468311.JavaMail.evans@thyme>,"Thu, 4 Oct 2001 15:05:17 -0700 (PDT)",john.shelk@enron.com,"richard.shapiro@enron.com, linda.robertson@enr...",Summary of Administration Comments on Bingaman...,None,1.0,text/plain; charset=us-ascii,7bit,None,"Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...","Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...",,,"\JSTEFFE (Non-Privileged)\Steffes, James D.\Co...",Steffes-J,JSTEFFE (Non-Privileged).pst,\nI have read through the 19 pages of Administ...,1002233117
1,<16152007.1075852468365.JavaMail.evans@thyme>,"Tue, 25 Sep 2001 09:25:07 -0700 (PDT)",john.shelk@enron.com,"richard.shapiro@enron.com, d..steffes@enron.co...",EPSA/EEI on Reliability,"linda.robertson@enron.com, carin.nersesian@enr...",1.0,text/plain; charset=us-ascii,7bit,"linda.robertson@enron.com, carin.nersesian@enr...","Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...","Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Robertson, Linda </O=ENRON/OU=NA/CN=RECIPIENTS...",,"\JSTEFFE (Non-Privileged)\Steffes, James D.\Co...",Steffes-J,JSTEFFE (Non-Privileged).pst,\nThis follows up on Rick's inquiry late last ...,1001435107
2,<26474922.1075852468285.JavaMail.evans@thyme>,"Fri, 5 Oct 2001 08:21:31 -0700 (PDT)",john.shelk@enron.com,charles.yeung@enron.com,Reliability and Security Arguments (RTOs),"janel.guerrero@enron.com, d..steffes@enron.com...",1.0,text/plain; charset=us-ascii,7bit,"janel.guerrero@enron.com, d..steffes@enron.com...","Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...","Yeung, Charles </O=ENRON/OU=NA/CN=RECIPIENTS/C...","Guerrero, Janel </O=ENRON/OU=NA/CN=RECIPIENTS/...",,"\JSTEFFE (Non-Privileged)\Steffes, James D.\Co...",Steffes-J,JSTEFFE (Non-Privileged).pst,\nThis responds to Charles's voice mail and th...,1002295291
3,<10118998.1075852468340.JavaMail.evans@thyme>,"Fri, 28 Sep 2001 12:11:10 -0700 (PDT)",john.shelk@enron.com,"joe.connor@enron.com, richard.ingersoll@enron....",RE: NERC Statements on Impact of Security Thre...,None,1.0,text/plain; charset=us-ascii,7bit,None,"Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...","Connor, Joe </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...",,,"\JSTEFFE (Non-Privileged)\Steffes, James D.\Co...",Steffes-J,JSTEFFE (Non-Privileged).pst,I agree with Joe. The IOUs will point to NERC...,1001704270
4,<24576280.1075861591387.JavaMail.evans@thyme>,"Fri, 2 Nov 2001 05:33:16 -0800 (PST)",john.shelk@enron.com,"d..steffes@enron.com, linda.robertson@enron.co...",Barton Staff Meeting,"john.shelk@enron.com, richard.shapiro@enron.com",1.0,text/plain; charset=us-ascii,quoted-printable,"john.shelk@enron.com, richard.shapiro@enron.com","Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...","Steffes, James D. </O=ENRON/OU=NA/CN=RECIPIENT...","Shelk, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=J...",,"\JSTEFFE (Non-Privileged)\Steffes, James D.\Co...",Steffes-J,JSTEFFE (Non-Privileged).pst,Yesterday I spent about 45 minutes with the th...,1004707996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330684,<1689472.1075857281689.JavaMail.evans@thyme>,"Wed, 22 Nov 2000 03:18:00 -0800 (PST)",fool@motleyfool.com,benjamin.rogers@enron.com,Investing Basics: Gathering Company Information,None,1.0,text/plain; charset=ANSI_X3.4-1968,quoted-printable,None,The Motley Fool <Fool@MotleyFool.com>,benjamin.rogers@enron.com,,,\Benjamin_Rogers_Dec2000_4\Notes Folders\Motle...,Rogers-B,brogers.nsf,______________________________________________...,974891880
330685,<31985452.1075857282898.JavaMail.evans@thyme>,"Tue, 31 Oct 2000 01:12:00 -0800 (PST)",fool@motleyfool.com,benjamin.rogers@enron.com,Breakfast With The Fool: Liftoff at Expedia,None,1.0,text/plain; charset=us-ascii,7bit,None,The Motley Fool <Fool@MotleyFool.com>,benjamin.rogers@enron.com,,,\Benjamin_Rogers_Dec2000_4\Notes Folders\Motle...,Rogers-B,brogers.nsf,______________________________________________...,972983520
330686,<4043728.1075852093007.JavaMail.evans@thyme>,"Tue, 29 May 2001 15:21:21 -0700 (PDT)",fool@motleyfool.com,benjamin.rogers@enron.com,"FoolWatch: Tom Gardner, Microsoft and College ...",None,1.0,text/plain; charset=us-ascii,7bit,None,The Motley Fool <Fool@MotleyFool.com>@ENRON <I...,"Rogers, Benjamin </O=ENRON/OU=NA/CN=RECIPIENTS...",,,"\BROGERS (Non-Privileged)\Rogers, Benjamin\Mot...",ROGERS-B,BROGERS (Non-Privileged).pst,\n=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3...,991174881
330687,<24053764.1075857283068.JavaMail.evans@thyme>,"Thu, 26 Oct 2000 02:29:00 -0700 (PDT)",fool@motleyfool.com,benjamin.rogers@enron.com,Breakfast With The Fool: InfoSpace Makes Money...,None,1.0,text/plain; charset=us-ascii,7bit,None,The Motley Fool <Fool@MotleyFool.com>,benjamin.rogers@enron.com,,,\Benjamin_Rogers_Dec2000_4\Notes Folders\Motle...,Rogers-B,brogers.nsf,______________________________________________...,972552540
330688,<20897299.1075857281232.JavaMail.evans@thyme>,"Mon, 4 Dec 2000 01:30:00 -0800 (PST)",fool@motleyfool.com,benjamin.rogers@enron.com,Breakfast With The Fool: Pepsi Finally Wins Qu...,None,1.0,text/plain; charset=us-ascii,7bit,None,The Motley Fool <Fool@MotleyFool.com>,benjamin.rogers@enron.com,,,\Benjamin_Rogers_Dec2000_4\Notes Folders\Motle...,Rogers-B,brogers.nsf,______________________________________________...,975922200

In [153]:
df.loc[200599,:]

Message-ID                        <8671127.1075854943082.JavaMail.evans@thyme>
Date                                     Mon, 15 Oct 2001 16:18:06 -0700 (PDT)
From                                                           ksumme@isda.org
To                                                              board@isda.org
Subject                                            Draft Memorandum to Members
Cc                                                            rpickel@isda.org
Mime-Version                                                               1.0
Content-Type                                      text/plain; charset=us-ascii
Content-Transfer-Encoding                                                 7bit
Bcc                                                           rpickel@isda.org
X-From                                        Kimberly Summe <KSumme@isda.org>
X-To                                               ISDA BOARD <BOARD@isda.org>
X-cc                                          Robert Pickel <RPICKEL@isda.org>
X-bcc
X-Folder                                       \MHAEDIC (Non-Privileged)\Inbox
X-Origin                                                            Haedicke-M
X-FileName                                        MHAEDIC (Non-Privileged).pst
Message                      I understand that some of you may not have rec...
Timestamp                                                           1003187886
Name: 200599, dtype: object

In [62]:
df.loc[tmp[tmp['label'] > -1].index,'Message-ID']

58487     <21931006.1075843765071.JavaMail.evans@thyme>
67266     <20343021.1075852783231.JavaMail.evans@thyme>
71590     <11703650.1075840283161.JavaMail.evans@thyme>
74646     <32721671.1075857427471.JavaMail.evans@thyme>
77957     <22797037.1075861578908.JavaMail.evans@thyme>
112864    <14579785.1075855357313.JavaMail.evans@thyme>
120152    <15211290.1075854177642.JavaMail.evans@thyme>
139558     <7508741.1075840715401.JavaMail.evans@thyme>
139594     <2632422.1075840703129.JavaMail.evans@thyme>
167723    <17416328.1075846724449.JavaMail.evans@thyme>
176322    <28504577.1075852177724.JavaMail.evans@thyme>
178335    <24770644.1075862329775.JavaMail.evans@thyme>
200599     <8671127.1075854943082.JavaMail.evans@thyme>
209198     <5654181.1075840041726.JavaMail.evans@thyme>
213331     <8138183.1075856157586.JavaMail.evans@thyme>
223166     <7885015.1075855113677.JavaMail.evans@thyme>
229021     <4947823.1075847137140.JavaMail.evans@thyme>
241232     <9979189.1075847982114.JavaMail.evans@thyme>
Name: Message-ID, dtype: object

In [ ]:
for idx, row in df.loc[tmp[tmp['label'] > -1].index,'Message'].iteritems():
    print(row)

thank you so much.  so the news aint great for utilities?

-----Original Message-----
From: Jeff.Dasovich@enron.com [mailto:Jeff.Dasovich@enron.com]
Sent: Wednesday, January 03, 2001 2:14 PM
To: Kari Dohn
Subject: Additional Materials



Greetings Kari:

Forgive the delay.  Much going on today, PUC draft decision in particular.
The draft does not look promising for the utilities' financial position.

Attached are our comments on the Governor's Proposals and some more detail
on the demand-reduction proposal.  We continue to work on the Nord Pool
research for you and will turn that around as quickly as we can.

Again, don't hesitate to contact me if there's anything else I can help
with, or if there's anything else that you need. (415.782.7822)

Best,
Jeff

(See attached file: Comments on Governor's Proposals 010301 .doc)(See
attached file: Demand buy-down proposal.doc)


Let me think about this.
I love you.
Mom

I did receive your e-mail.

Ken Lay





"Michael Milken" <mmilken@knowledgeu.com> on 07/02/99 10:21:40 AM
To: Kenneth Lay/Corp/Enron@Enron
cc:
Subject: testing







Peter,

Enron Compressor Services paid ENA $658,118 for the June 2002 - May 2022
$3.35 Put Swaption.

Thanks,

Errol McLaughlin, X5-8274
Attached is a revised Credit Watch listing for the week of 11/19/01.   The Yuma Companies (Inc.) has been added to this week's "Call Credit" column.
If there are any personnel in your group that were not included in this distribution, please insure that they receive a copy of this report.
To add additional people to this distribution, or if this report has been sent to you in error, please contact Veronica Espinoza at x6-6002.

For other questions, please contact Jason R. Williams at x5-3923,  Veronica Espinoza at x6-6002 or Darren Vanek at x3-1436.


Michelle,
I have an employee that is supposed to terminate 1/4/02. I just received a call from Hector and he was telling me that we need to terminate all these employees effective today so we don't have to pay benefits for the month of January for these employees. I was not at that meeting last week and this was the first I have heard of this. I assume unless there is a business reason to keep someone around they will be terminated effective 12/31. This would have been easier to manage last week, but now since I have to call the employee and supervisor today and let them know that today will be this individuals last day. Please advise.
Mandy
Enron/HPL Actuals

     Friday, Oct. 6, 2000
                    Teco Tap       60.000/Enron,   15.625/HPL IFERC
                    HPL LS Katy I.C.          15.000/HPL IFERC



     Saturday, Oct. 7, 2000
                    Teco Tap       60.000/Enron,   85.000/HPL IFERC
                    HPL LS Katy I.C.           3.750/HPL IFERC



     Sunday, Oct, 8, 2000
                    Teco Tap       60.000/Enron,    90.000/HPL IFERC
                    HPL LS Katy I.C.             0.000


Start Date: 3/3/01; HourAhead hour: 21;  No ancillary schedules awarded.
Variances detected.
Variances detected in Generation schedule.
Variances detected in Load schedule.

    LOG MESSAGES:

PARSING FILE -->> O:\Portland\WestDesk\California Scheduling\ISO Final
Schedules\2001030321.txt

---- Generation Schedule ----
+++ Hour 21 - bad data from ISO.
  TRANS_TYPE: FINAL
  SC_ID: Wheelabrat
  MKT_TYPE: 2
  TRANS_DATE: 3/3/01
  UNIT_ID: MARTEL_2_AMFOR



---- Load Schedule ----
$$$ Variance found in table tblLoads.
     Details: (Hour: 21 / Preferred:  74.56 / Final:  74.38)
  TRANS_TYPE: FINAL
  LOAD_ID: SCE1
  MKT_TYPE: 2
  TRANS_DATE: 3/3/01
  SC_ID: EPMI


Start Date: 4/12/01; HourAhead hour: 15;  No ancillary schedules awarded.  No
variances detected.

    LOG MESSAGES:

PARSING FILE -->> O:\Portland\WestDesk\California Scheduling\ISO Final
Schedules\2001041215.txt
Sounds like a great idea -- let us know where/when.


 -----Original Message-----
From: 	"Rodenburg, Eric" <erodenbu@UtiliCorp.com>@ENRON
Sent:	Thursday, October 18, 2001 8:15 AM
To:	Schoolcraft, Darrell; Spraggins, Gary; Carr, James; Blair, Jean; Wilkens, Jerry; Clapper, Karen; Washington, Kathy; Callans, Nancy; Bryan, Randy; Walden, Shirley
Subject:	SUN1019.xls

 - SUN1019.xls
I agree with your last sentence.  Thanks for helping us through this crunch time.

 -----Original Message-----
From: 	Corman, Shelley
Sent:	Wednesday, November 07, 2001 5:22 PM
To:	Horton, Stanley
Subject:	RE: Floor Space Announcement

Fair enough.  I know you have much bigger issues to contend with right now.  We can be patient.

In the long run, I feel like this issue needs to be addressed for us to return to the vision of trying to breakdown the operating company silos and run an integrated gas logistics group.


 -----Original Message-----
From: 	Horton, Stanley
Sent:	Wednesday, November 07, 2001 5:12 PM
To:	Corman, Shelley; Hayslett, Rod
Cc:	McCarty, Danny
Subject:	RE: Floor Space Announcement

Calm down.  The operative word is it has been put on hold.  These are not normal times.  No one saw this coming or we could have planned better.  Give us a few days to figure everything out.  We just made the decision today to preserve cash while we were waiting to see what was going to happen.  Thanks for your cooperation which I desperately need right now.

 -----Original Message-----
From: 	Corman, Shelley
Sent:	Wednesday, November 07, 2001 4:07 PM
To:	Hayslett, Rod
Cc:	Horton, Stanley; McCarty, Danny
Subject:	Floor Space Announcement


I was very disappointed to not have any advance warning about the announcement that construction on 41 has been put on hold for financial reasons.

The Gas Logistics team was "relocated" off the 41st floor on October 5.  Prior to the move, we had a very efficient, open configuration that let us work together as a unified team.

After the move, we are located on 3 different floors.   Besides the general impact on team unity, this move also means that our evening staff work alone on separate floors, rather than in a group.  It means fewer individuals to cover customer calls.  It means having more equipment to cover the day to day business.   I have worked hard to calm the team that this arrangement is just temporary and that we will eventually be put back together as a team.

Prior to our move I constantly questioned whether our move was necessary.  I asked about smaller, more practical changes to fit more people on the floor.  And, I specifically asked about whether Enron issues might impact the groups desire to continue to spend $7-$10 million -- even as I reluctantly packed up my boxes.

I hope you can appreciate that the current seating arrangement is a serious issue for my team and one that generates constant questions as my staff meetings.  Finding out  that we moved off of 41 for no reason at an all-employee floor meeting undermines my team's faith in my leadership.
I understand that some of you may not have received the attachment to Bob's
email.  I have attached it here for your review.

Please let me know if you have any questions.  I can be reached at
212-332-1203.

Thanks,

Kimberly Summe

 <<Convertible Bonds.doc>>
I should be here -- Muni Man.   Thanks..

 -----Original Message-----
From: 	Rosman, Stewart
Sent:	Wednesday, July 11, 2001 10:11 AM
To:	Swerzbin, Mike; Crandall, Sean
Subject:	PRM SLICE MEeting

Jeff Fuller will be in town on August 3rd 12:00 to discuss information exchange.  Let me know if you are available.

Stewart
Here are the prices for the first
Thursday, December 13, 2001

Dear Debra,

Travelocity Fare Watcher, your personal airfare tracking
service, has found fare changes in 1 of your markets.

Note: Fares change quickly and sell out fast. Visit Travelocity
now to take advantage of this great opportunity!  Click on this
link or paste the URL into your browser:
http://dps1.travelocity.com:80/fwemindiv.ctl?fw=99091015983150&Service=TRAVELOCITY&LANG=EN

HAVE YOUR TRAVEL NEEDS CHANGED?

Looking to go someplace new? Be sure to update your Fare Watcher
subscription to include your favorite destinations.

FARES


*  QHO-TUL   FROM: Houston All Airports (QHO)
             TO:   Tulsa, OK (TUL)
   PRICE:    NEW PRICE        WAS        DIFFERENCE
             ---------      -------      ----------
             $166.00        $128.00      +$38.00




Thank you for choosing Travelocity as your one-stop travel
resource!

Sincerely,

The Travelocity Team
Travelocity.com - Go Virtually Anywhere
http://www.travelocity.com/

----------------------------------------------------------------

VACATION DEALS!

Hot deals to the Caribbean, Las Vegas, and more!
http://leisure.travelocity.com/RealDeals/0,2942,TRAVELOCITY_VAC,00.html

CRUISE DEALS!

Don't miss a look at our incredible Cruise Deals! Updated daily,
find the voyage that suits your budget!
http://leisure.travelocity.com/RealDeals/0,2942,TRAVELOCITY_CRU,00.html

SAVE $75 IN AIRFARE

Get $75 in Rebates on your next Airfare Purchases!
Join the Travelocity Preferred Traveler Program and you'll
receive up to $75 in rebates on your next three flights, hotel
savings and room upgrades, up to 20% off at restaurants
nationwide, and more. Enroll today!
http://leisure.travelocity.com/preferredtraveler/?source=PM

EARN FREE TRAVEL. NO RESTRICTIONS!

The NEW Travelocity World MasterCard
Earn points towards free travel with new Travelocity MasterCard!
You'll earn 1 point for every dollar spent. Earn 8,000 points
and you'll receive $100 off your next Travelocity.com booking.
We'll spot you 4,000 points to get started, so you are already
half way there! Visit http://www.travelocitycard.com to apply.

IMPORTANT FARE INFORMATION:

All fares are quoted in US Dollars.  Fares shown are for one
adult round-trip between your selected cities and are subject
to additional charges, including, but not limited to, Passenger
Facility Charges (ranging from $2-$18), Federal Segment Fees of
$2.75 per segment (defined as a takeoff and a landing), and
taxes/fees associated with international itineraries of up to
USD $113 or local currency equivalent. Fuel surcharges, if applicable
are included in the fees listed.

Total fare per passenger, including all charges, will always
be displayed to you prior to final ticket purchase. Please note
that fares are subject to restrictions, may not be available on
all flights, and may change without notice. For detailed descriptions
of the fare rules, click on the corresponding rules link.

CHANGE OR CANCEL YOUR SUBSCRIPTION TO FAREWATCHER EMAIL
http://dps1.travelocity.com:80/fwemsub.ctl?Service=TRAVELOCITY&LANG=EN

UPDATE YOUR EMAIL ADDRESS
http://dps1.travelocity.com:80/fwemsub.ctl?Service=TRAVELOCITY&LANG=EN

RETRIEVE YOUR PASSWORD
http://dps1.travelocity.com:80/lognpwdform.ctl?Service=TRAVELOCITY&LANG=EN
I will be out of the office Wednesday through Friday next week, 11/6-11/8.

Brenda,

Would you please arrange for coverage for my desk during those days?  Thank
you for your assistance.


Taffy
----- Forwarded by Jeff Dasovich/NA/Enron on 03/30/2001 06:33 PM -----

=09"Julee Malinowski-Ball" <jmball@ns.net>
=0903/29/2001 05:31 PM
=09Please respond to "Julee Malinowski-Ball"
=09=09=20
=09=09 To: "Susan McCabe" <smccabe@mccabeandcompany.net>, "Scott Govenar"=
=20
<sgovenar@govadv.com>, "Ron Tom" <thackbarth@govadv.com>, "Robert Ross"=20
<robbiz@cwo.com>, "Rina Venturini" <rventurini@teamgsi.net>, "Phil Isenberg=
"=20
<Isenberg@HMOT.com>, "Mike Monagan" <mrmonagan@aol.com>, "Maureen OHaren"=
=20
<Oharen@HMOT.com>, "Marie Moretti" <mmoretti@mccabeandcompany.net>,=20
"Kassandra Gough" <kgough@calpine.com>, "Jamie Parker" <jparker@hmot.com>,=
=20
"Hedy Govenar" <hgovenar@govadv.com>, "Delany Hunter" <dhunter@s-k-w.com>,=
=20
"Chuck Cole" <ccole@advocation-inc.com>, "Bev Hansen" <bhansen@lhom.com>,=
=20
"Anne Kelly" <kelly@hnks.com>, "Fred Pownall" <fred_pownall@ka-pow.com>
=09=09 cc: "Sue Mara" <smara@enron.com>, "Steve Ponder" <steve_ponder@fpl.c=
om>,=20
"Stephanie Newell" <stephanie-newell@reliantenergy.com>, "Sandi McCubbin"=
=20
<smccubbi@enron.com>, "Roger Pelote" <roger.pelote@williams.com>, "Richard=
=20
Hyde" <rwhyde@duke-energy.com>, "Rachel King" <rachel.king@elpaso.com>,=20
"Paula Soos" <paula_soos@ogden-energy.com>, "Lynn Lednicky"=20
<lale@dynegy.com>, "Larrea, John" <John.g.Larrea@williams.com>, "kent=20
Palmerton" <kent.palmerton@williams.com>, "Kassandra Gough"=20
<kgough@calpine.com>, "John Stout" <john_h_stout@reliantenergy.com>, "Joe=
=20
Ronan" <joer@calpine.com>, "Jeff Dasovich" <Jeff.Dasovich@enron.com>, "Jean=
=20
Munoz" <jmunoz@mcnallytemple.com>, "Jack Pigott" <jackp@calpine.com>, "Greg=
=20
Blue" <gtbl@dynegy.com>, "Scott Sadler" <sadlersa@earthlink.net>, "Jan Smut=
ny=20
Jones" <smutny@iepa.com>, "Steven Kelley" <steven@iepa.com>, "Katie Kaplan"=
=20
<kaplan@iepa.com>, "Andy Brown" <ABB@eslawfirm.com>, "Doug Kerner"=20
<dkk@eslawfirm.com>, "Chris Ellison" <CTE@eslawfirm.com>
=09=09 Subject: Action Items from IEP Lobbyist Call

Summary of action items from today's IEP member company lobbyist conference
call:

Discussion re: SB 28x (Sher) and direct access

- Chris Ellison and I are meeting with staff from Sher and Wright=01,s offi=
ces
to discuss amendments to SB 28x to make it more comprehensive.  I will
report to IEP and members the results of the meeting in my weekly
legislative status report tomorrow.

- IEP has an appointment with Asm. Cox on Tuesday at 8:30 am.  The message
to him is support linking SB 28x and a direct access bill with SB 5x, and
oppose =01&California first=018 language and changes to the outage and main=
tenance
coordination (i.e., AB 60x, AB 8x, and SB 39x).  IEP members are invited to
join.  Please let me know if you are going to attend.  I will report to IEP
members the results of the meeting.

- In the meantime, since SB 28x is likely to be heard on Monday, all
available IEP member company lobbyists should make contact with members of
the Assembly Energy Costs and Availability Committee to support SB 28x with
the caveat that we would like to see some additional changes.

Discussion re: AB 60x (Hertzberg)

- Available IEP member company lobbyists should make contact with members o=
f
the Senate Energy Committee to oppose AB 60x.  The message is twofold: 1)
the bill creates another obstacle in the siting process when the state
should be streamlining it; and, 2) as a net-importer, California would be
sending the wrong signals to its neighboring states that send us power in
our time of need.  I will forward under separate cover the agreed-upon
amendments that we would be willing to live with if we can=01,t kill the bi=
ll.

Discussion re: AB 8x (Migden)

-  All available IEP member company lobbyists will, once again, make contac=
t
with Assembly Member Migden's office to support a meeting to discuss IEP=01=
,s
proposed amendments to make this bill work.



Julee Malinowski-Ball
Senior Associate
Edson + Modisette
916-552-7070
FAX-552-7075
jmball@ns.net

In [67]:
df.loc[tmp[tmp['label'] > -1].index,'Message-ID']

58487     <21931006.1075843765071.JavaMail.evans@thyme>
67266     <20343021.1075852783231.JavaMail.evans@thyme>
71590     <11703650.1075840283161.JavaMail.evans@thyme>
74646     <32721671.1075857427471.JavaMail.evans@thyme>
77957     <22797037.1075861578908.JavaMail.evans@thyme>
112864    <14579785.1075855357313.JavaMail.evans@thyme>
120152    <15211290.1075854177642.JavaMail.evans@thyme>
139558     <7508741.1075840715401.JavaMail.evans@thyme>
139594     <2632422.1075840703129.JavaMail.evans@thyme>
167723    <17416328.1075846724449.JavaMail.evans@thyme>
176322    <28504577.1075852177724.JavaMail.evans@thyme>
178335    <24770644.1075862329775.JavaMail.evans@thyme>
200599     <8671127.1075854943082.JavaMail.evans@thyme>
209198     <5654181.1075840041726.JavaMail.evans@thyme>
213331     <8138183.1075856157586.JavaMail.evans@thyme>
223166     <7885015.1075855113677.JavaMail.evans@thyme>
229021     <4947823.1075847137140.JavaMail.evans@thyme>
241232     <9979189.1075847982114.JavaMail.evans@thyme>
Name: Message-ID, dtype: object

In [73]:
df.loc[58487,'From']

'kari.dohn@gov.ca.gov'

In [72]:
tmp.loc[58487,:]

Message                            d-i-r-t-y
Reply                                   True
Chain                                 130942
Chain_len                                122
Subject                                  RE:
Sender             matthew.lenhart@enron.com
Recipients    shirley.s.elliott@citicorp.com
Timestamp                          975587580
label                                      0
Name: 58487, dtype: object

In [156]:
df[df['Message-ID']=='<32497489.1075861029532.JavaMail.evans@thyme>']

,Message-ID,Date,From,To,Subject,Cc,Mime-Version,Content-Type,Content-Transfer-Encoding,Bcc,X-From,X-To,X-cc,X-bcc,X-Folder,X-Origin,X-FileName,Message,Timestamp
115113,<32497489.1075861029532.JavaMail.evans@thyme>,"Thu, 7 Mar 2002 14:45:49 -0800 (PST)",management.ubsw@enron.com,robert.badeer@enron.com,FW: Employee Transfer,None,1.0,text/plain; charset=us-ascii,7bit,None,UBSW Energy Information Risk Management </O=EN...,"Badeer, Robert </O=ENRON/OU=NA/CN=RECIPIENTS/C...",,,"\Robert_Badeer_Mar2002_1\Badeer, Robert\Inbox",Badeer-R,rbadeer (Non-Privileged).pst,"Robert,\n\nPer the email below, access to Sita...",1015541149

In [159]:
for i, col in enumerate(df.columns):
    print(i, col)

0 Message-ID
1 Date
2 From
3 To
4 Subject
5 Cc
6 Mime-Version
7 Content-Type
8 Content-Transfer-Encoding
9 Bcc
10 X-From
11 X-To
12 X-cc
13 X-bcc
14 X-Folder
15 X-Origin
16 X-FileName
17 Message
18 Timestamp

In [158]:
df.loc[df['Message-ID'=='<32497489.1075861029532.JavaMail.evans@thyme>','Message']

115113    Robert,\n\nPer the email below, access to Sita...
Name: Message, dtype: object

In [158]:
df.loc[df['Message'=='<32497489.1075861029532.JavaMail.evans@thyme>', 'Message']

115113    Robert,\n\nPer the email below, access to Sita...
Name: Message, dtype: object

In [164]:
print(df.iloc[115113, 14])

\Robert_Badeer_Mar2002_1\Badeer, Robert\Inbox

In [161]:
print(df.iloc[115113, 17])

Robert,

Per the email below, access to Sitara has been granted.

ID = rbadeer
PW = changeme

Thanks!
Leah

 -----Original Message-----
From: 	Severson, Russ
Sent:	Thursday, March 07, 2002 4:37 PM
To:	UBSW Energy Information Risk Management
Subject:	RE: Employee Transfer

West Trading

 -----Original Message-----
From: 	UBSW Energy Information Risk Management
Sent:	Thursday, March 07, 2002 4:26 PM
To:	Severson, Russ
Subject:	FW: Employee Transfer

Russ,

Please approve access for Robert Badeer for Sitara and TDS.  Please let me know what access he should have in Sitara now that he is in Houston.

Thanks!
Leah

 -----Original Message-----
From: 	Rangel, Ina
Sent:	Thursday, March 07, 2002 1:15 PM
To:	UBSW Energy Information Risk Management
Cc:	UBSW Energy IT Security and Controls; Marcinkowski, Danielle
Subject:	Employee Transfer

Robert Badeer is currently working in our Portland office and will be coming to work in Houston office permanently.    He needs to be setup on the following

Transfer his login id and outlook over here
Kobra
TDS
Sitara
Stack Manager


Common drives:
o:/Fundy_Ops
o:/ECT-Trading
o:/WebContent


Can this be setup by this afternoon?

Thank you,
Ina Rangel
713-853-7257